<div class="scroll">
  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Columbian Exchange</h1>
        <h5 class="card-content__duration">1492</h5>
        <p class="card-content__description">The Columbian Exchange was the widespread transfer of plants, animals, culture, human populations, technology, and ideas between the Americas and the Old World in the 15th and 16th centuries, related to European colonization and trade after Christopher Columbus's 1492 voyage.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Columbian_Exchange">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.gohistorygo.com/columbian-exchange-">gohistorygo.com</a></h5>
        <h5 class="card-content__site"><a href="http://tn.pbslearningmedia.org/resource/midlit11.soc.wh.columbianex/the-effects-of-the-columbian-exchange/">pbs video</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/event/columbian.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Bronze Age collapse</h1>
        <h5 class="card-content__duration">Between c. 1200 and 1150 BC</h5>
        <p class="card-content__description">The Late Bronze Age collapse was a Dark Age transition period in the Aegean Region, Southwestern Asia and the Eastern Mediterranean from the Late Bronze Age to the Early Iron Age a transition historians believe was violent, sudden and culturally disruptive.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Age_of_Enlightenment">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/event/Enlightenment-European-history">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.history.com/topics/enlightenment">history.com</a></h5>
        <h5 class="card-content__site"><a href="https://www.khanacademy.org/humanities/monarchy-enlightenment/rococo/a/a-beginners-guide-to-the-age-of-enlightenment">khanacademy</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b07fl5bh">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-9-darkness-buries-the-bronze-age/">$ Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/event/collapse.jpeg" alt="" />
      </div>
    </div>
  </div>
</div>
