<div class="scroll">

  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">The History of Rome</h1>
        <h5 class="card-content__duration">2007-2012</h5>
        <p class="card-content__description">It covers the time period from the origin of the Roman Kingdom to the Fall of the Western Roman Empire, focusing on the most accepted chain of events according to historical consensus.</p>
        <h5 class="card-content__site"><a href="http://thehistoryofrome.typepad.com">thehistoryofrome.typepad.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/rome.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Hardcore History</h1>
        <h5 class="card-content__duration">2006-present</h5>
        <p class="card-content__description">The focus of each episode varies widely from show to show but they are generally centered on specific historical events and are discussed in a "theater of the mind" style. New episodes are released approximately every two to five months.</p>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com">www.dancarlin.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">In Our Time</h1>
        <h5 class="card-content__duration">1998-present</h5>
        <p class="card-content__description">In Our Time is a live BBC radio discussion series exploring the history of ideas. It is one of BBC Radio 4's most successful discussion programmes, acknowledged to have "transformed the landscape for serious ideas at peak listening time".</p>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b006qykl/episodes/downloads">inourtime.co.uk</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/time.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Twilight Histories</h1>
        <h5 class="card-content__duration">2011-present</h5>
        <p class="card-content__description">You are a time traveler sent to a strange and exotic land. You will explore Egypt ravaged by an Ice Age, a Carthaginian colony on Mars, a resurgent Aztec empire, and many more strange and nightmarish worlds.</p>
        <h5 class="card-content__site"><a href="http://www.twilighthistories.com/">www.twilighthistories.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/twilight.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Myths and Legends Podcast</h1>
        <h5 class="card-content__duration">2015-present</h5>
        <p class="card-content__description">Did you know that fairy tales weren't originally for children and are way more bizarre, ridiculous, and interesting than you ever thought possible?</p>
        <h5 class="card-content__site"><a href="https://www.mythpodcast.com/">www.mythpodcast.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/myth.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">The History of English Podcast</h1>
        <h5 class="card-content__duration">2013-present</h5>
        <p class="card-content__description">The History of English Podcast is the spoken history of the English language. Kevin Stroud presents the history of English by exploring the historical events that shaped the modern language, as well as the history of English words and grammar.</p>
        <h5 class="card-content__site"><a href="http://historyofenglishpodcast.com/">historyofenglishpodcast.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/history-english.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Revolutions</h1>
        <h5 class="card-content__duration">2013-present</h5>
        <p class="card-content__description">A weekly podcast series examining great political revolutions.</p>
        <h5 class="card-content__site"><a href="http://www.revolutionspodcast.com/">revolutionspodcast.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/revolutions.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Backstory</h1>
        <h5 class="card-content__duration">2008-present</h5>
        <p class="card-content__description">BackStory is a public radio program & podcast that brings historical perspective to the events happening around us today. On each show, renowned U.S. historians Ed Ayers, Peter Onuf, and Brian Balogh tear a topic from the headlines and plumb its historical depths.</p>
        <h5 class="card-content__site"><a href="http://backstoryradio.org/">backstoryradio.org</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/backstory.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">12 Byzantine Rulers</h1>
        <h5 class="card-content__duration">2005-2008</h5>
        <p class="card-content__description">This history lecture podcast covers the little known Byzantine Empire through the study of twelve of its greatest rulers.</p>
        <h5 class="card-content__site"><a href="https://12byzantinerulers.com/">12byzantinerulers.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/byzantine.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">History on Fire</h1>
        <h5 class="card-content__duration">2015-present</h5>
        <p class="card-content__description">Whether you like history or not, if you care about bravery, wisdom, passion, larger than life characters and some of the most emotionally intense moments in human experience, you have come to the right place. Bolelli shall be your guide in a journey to the place where history and epic collide.</p>
        <h5 class="card-content__site"><a href="http://historyonfirepodcast.com/">historyonfirepodcast.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/fire.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">The Podcast History of our World</h1>
        <h5 class="card-content__duration">2012-present</h5>
        <p class="card-content__description">A complete audio journey of humanity's collective history from the earliest creation myths to the modern age…eventually</p>
        <h5 class="card-content__site"><a href="http://www.podcasthistoryofourworld.com/">podcasthistoryofourworld.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/world.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Russian Rulers History Podcast</h1>
        <h5 class="card-content__duration">2010-current</h5>
        <p class="card-content__description">Russia’s history is one of extreme hardships, especially for the common peasant. The rulers lived lavish lives at the expense of the people. In the first part of podcast, we follow the history of Russia through their rulers. After we are done with Vladimir Putin, the shift will be towards telling the story of the Russia through the events and people who make their history great.</p>
        <h5 class="card-content__site"><a href="http://russianrulers.podhoster.com/">russianrulers.podhoster.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/russia.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">The Ancient World</h1>
        <h5 class="card-content__duration">2012-current</h5>
        <p class="card-content__description">From the first human civilizations to 500 BC to whenever.</p>
        <h5 class="card-content__site"><a href="http://ancientworldpodcast.blogspot.com/">ancientworldpodcast.blogspot.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/ancient.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">10 American Presidents</h1>
        <h5 class="card-content__duration">2015-current</h5>
        <p class="card-content__description">From Washington to Obama, 10 American Presidents a podcast narrated by guest hosts. The life and legacy of an American President. Each show is intercut with music and where possible archive news clips or dramatisations to set a feeling of place and time.</p>
        <h5 class="card-content__site"><a href="https://www.acast.com/10americanpresidents">www.acast.com/10americanpresidents</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/10.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Presidential</h1>
        <h5 class="card-content__duration">2016-2016</h5>
        <p class="card-content__description">The Washington Post's Presidential podcast explores how each former American president reached office, made decisions, handled crises and redefined the role of commander-in-chief, starting with George Washington in week one and ending on week 44 with the new president.</p>
        <h5 class="card-content__site"><a href="https://www.podbean.com/podcast-detail/my45a-3bf50/Presidential">podbean site</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/president.jpeg" alt="" />
      </div>
    </div>
  </div>

</div>
