<div class="scroll">
  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/rome.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">The History of Rome</h3>
        <h5 class="card-content__duration">2007-2012</h5>
        <h5 class="card-content__site"><a href="http://thehistoryofrome.typepad.com">thehistoryofrome.typepad.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">Hardcore History</h3>
        <h5 class="card-content__duration">2006-present</h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com">www.dancarlin.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/time.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">In Our Time</h3>
        <h5 class="card-content__duration">1998-present</h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b006qykl/episodes/downloads">inourtime.co.uk</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/twilight.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">Twilight Histories</h3>
        <h5 class="card-content__duration">2011-present</h5>
        <h5 class="card-content__site"><a href="http://www.twilighthistories.com/">www.twilighthistories.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/myth.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">Myths and Legends Podcast</h3>
        <h5 class="card-content__duration">2015-present</h5>
        <h5 class="card-content__site"><a href="https://www.mythpodcast.com/">www.mythpodcast.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/history-english.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">The History of English Podcast</h3>
        <h5 class="card-content__duration">2013-present</h5>
        <h5 class="card-content__site"><a href="http://historyofenglishpodcast.com/">historyofenglishpodcast.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/revolutions.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">Revolutions</h3>
        <h5 class="card-content__duration">2013-present</h5>
        <h5 class="card-content__site"><a href="http://www.revolutionspodcast.com/">revolutionspodcast.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/backstory.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">Backstory</h3>
        <h5 class="card-content__duration">2008-present</h5>
        <h5 class="card-content__site"><a href="http://backstoryradio.org/">backstoryradio.org</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/byzantine.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">12 Byzantine Rulers</h3>
        <h5 class="card-content__duration">2005-2008</h5>
        <h5 class="card-content__site"><a href="https://12byzantinerulers.com/">12byzantinerulers.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/fire.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">History on Fire</h3>
        <h5 class="card-content__duration">2015-present</h5>
        <h5 class="card-content__site"><a href="http://historyonfirepodcast.com/">historyonfirepodcast.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/world.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">The Podcast History of our World</h3>
        <h5 class="card-content__duration">2012-present</h5>
        <h5 class="card-content__site"><a href="http://www.podcasthistoryofourworld.com/">podcasthistoryofourworld.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/russia.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">Russian Rulers History Podcast</h3>
        <h5 class="card-content__duration">2010-current</h5>
        <h5 class="card-content__site"><a href="http://russianrulers.podhoster.com/">russianrulers.podhoster.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/ancient.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">The Ancient World</h3>
        <h5 class="card-content__duration">2012-current</h5>
        <h5 class="card-content__site"><a href="http://ancientworldpodcast.blogspot.com/">ancientworldpodcast.blogspot.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/10.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">10 American Presidents</h3>
        <h5 class="card-content__duration">2015-current</h5>
        <h5 class="card-content__site"><a href="https://www.acast.com/10americanpresidents">www.acast.com/10americanpresidents</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/president.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">Presidential</h3>
        <h5 class="card-content__duration">2016-2016</h5>
        <h5 class="card-content__site"><a href="https://www.podbean.com/podcast-detail/my45a-3bf50/Presidential">podbean site</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>
</div>
