.link-content {
  width: 90%;
  margin: 0 auto;
}

.scroll {
  width: 100%;
  margin-top: 2rem;
  height: 68vh;
  overflow: scroll;
}

.card {
  display: flex;
  justify-content: center;
  margin: 2rem auto;
  height: 70vh;

  &-content {
    position: relative;
    display: flex;
    justify-content: center;
    width: 55%;
    height: 50vh;
    margin-left: 9rem;
    background: $c-tan;

    &__img {
      display: flex;
      justify-content: flex-end;
      width: 100%;
      height: 100%;
      padding-right: 2rem;
      padding-top: 2rem;
      padding-bottom: 2rem;

      &::before {
        display: block;
        content: " ";
        padding-top: 100%;
      }

      &-pic {
        width: 70%;
        object-fit: contain;
      }
    }

    &__text {
      position: absolute;
      right: 70%;
      width: 60%;
      height: 50vh;
      font-family: 'Noto Sans', sans-serif;
    }

    &__title {
      font-family: 'Cormorant', serif;
    }

    &__site {
      margin: 0.5rem;

      a {
        color: $c-gold;
        text-decoration: none;
        font-size: 0.7rem;
      }

      :hover {
        text-decoration: underline;
      }

    }
  }
}
