.link-content {
  flex-grow: 1;
  // width: 100%;
  display: flex;
  flex-direction: column;
}

.scroll {
  height: 85vh;
  overflow: scroll;
}

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 2rem 0 0 2rem;
  padding: 1rem;
  border-radius: 0.4rem;
  background: $c-background;
  color: $c-text;

  &-content {
    display: flex;

    &__img {
      width: 20rem;
      object-fit: cover;

      &-pic {
        width: 100%;
        // height: 70%;
      }
    }

    &__text {
      width: 100%;
      padding: 1rem;
    }

    &__title {
      margin-top: 0;
      text-align: center;
    }

    &__site {

      :hover {
        text-decoration: underline;
      }

      a {
        color: $c-link;
        text-decoration: none;

      }
    }
  }
}
