.link-content {
  // flex-grow: 1;
  width: 100%;
}

.scroll {
  width: 100%;
  margin-top: 2rem;
  height: 70vh;
  overflow: scroll;
}

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  flex-wrap: wrap;
  width: 100%;
  margin-bottom: 2rem;
  padding: 1rem;
  border-radius: 0.4rem;
  background: $c-background;
  color: $c-text;

  &-content {
    display: flex;
    // flex-wrap: wrap;
    // min-width: 10rem;

    &__img {
      width: 15rem;
      // min-width: 19rem;
      // object-fit: cover;

      &-pic {
        width: 100%;
        // height: 70%;
      }
    }

    &__text {
      width: 100%;
      padding: 1rem;
    }

    &__title {
      margin-top: 0;
      text-align: center;
    }

    &__site {

      :hover {
        text-decoration: underline;
      }

      a {
        color: $c-link;
        text-decoration: none;

      }
    }
  }
}
