.intro {
  margin-bottom: 0;
  width: 100%;
  color: $c-dark-grey;
  text-align: center;

  &__box {
    display: flex;
    justify-content: space-between;
    border-bottom: $c-dark-grey solid 1px;
  }

  &__text {
    display: flex;
    justify-content: flex-end;
    width: 50%;
    color: $c-dark-grey;
    text-align: right;
  }

  &__link {
    color: $c-gold;
    text-decoration: none;

    :hover {
      text-decoration: underline;
    }
  }
}

.right {
  text-align: left;
}
