.link-flex {
  display: flex;
  flex-wrap: wrap;
}

.link-box {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 100%;
  background: white;

  &__title {
    margin-top: 0;
    color: $c-text;
    text-align: center;
  }

  &__links {
    padding: 0.5rem;

    :hover {
      text-decoration: underline;
    }
  }

  a {
    color: $c-link;
    text-decoration: none;

  }
}
