.link-flex {
  display: flex;
  flex-wrap: wrap;
}

.link-box {
  width: 25%;
  // flex-grow: 1;
  height: 60%;
  margin: 2rem 2rem 0 0;
  padding: 1rem;
  border-radius: 0.4rem;
  background: $c-background;

  &__title {
    margin-top: 0;
    color: $c-text;
    text-align: center;
  }

  &__links {
    padding: 0.5rem;

    :hover {
      text-decoration: underline;
    }
  }

  a {
    color: $c-link;
    text-decoration: none;

  }
}
