.app {
  background: $c-light-back;
  height: 100vh;
}

.nav {
  background: $c-dark-grey;

  &__title {
    width: 100%;
    margin: 0;
    padding-top: 1rem;
    text-align: center;
    font-size: 4rem;

    a {
      color: $c-text;
      text-decoration: none;
    }
  }

  &__bottom {
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-start;

    a {
      color: white;
      text-decoration: none;

      :hover {
        border-bottom: 0.1rem solid white;
      }
    }

    h3 {
      margin: 0;
      padding: 1rem;
      margin-bottom: 0.5rem;

      :hover {
        padding: 0.9rem;
      }
    }
  }
}
