* {
  box-sizing: border-box;
}

html {
  margin: 0;
}

body {
  margin: 0;
  font-family: 'Lato', sans-serif;
}

ul {
  padding: 0;
  list-style: none;
}

.container {
  max-width: 60rem;
  margin: 0 auto;
}

img {
  max-width: 100%;
  max-height: 100%;
}
