$c-link: #004C2B;
$c-text: transparentize($c-link, 0.3);
$c-background: transparentize($c-link, 0.7);


@import 'reset';
@import 'nav';
@import 'index';
@import 'link-box';

.link-content {
  width: 100%;
}

.card {
  display: flex;
  flex-direction: column;
  flex-grow: 1;
  margin: 2rem 0 0 2rem;
  padding: 1rem;
  border-radius: 0.4rem;
  background: $c-background;
  color: $c-text;

  &-content__title {
    margin-top: 0;
    text-align: center;
  }

  &-content__site {
    a {
      color: $c-link;
      text-decoration: none;
    }
  }
}
