<div class="scroll">

  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Climate Change</h1>
        <p class="card-content__description">Global warming and climate change are terms for the observed century-scale rise in the average temperature of the Earth's climate system and its related effects. Multiple lines of scientific evidence show that the climate system is warming.</p>
        <h5 class="card-content__site"><a href="http://www.ucsusa.org/global_warming#.WHlS2rYrIp8">Union of Concerned Scientists</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/science/global-warming">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Global_warming#Scientific_discussion">Wikipedia</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/sat.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Chaos Theory</h1>
        <p class="card-content__description">Chaos theory is a branch of mathematics focused on the behavior of dynamical systems that are highly sensitive to initial conditions—a response popularly referred to as the butterfly effect. Small differences in initial conditions (such as those due to rounding errors in numerical computation) yield widely diverging outcomes for such dynamical systems, rendering long-term prediction of their behavior impossible in general.</p>
        <h5 class="card-content__site"><a href="http://fractalfoundation.org/resources/what-is-chaos-theory/">fractalfoundation.org</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/chaos-theory">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Chaos_theory">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/p00548f6">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b03ls154">Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/chaos.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Theory of Relativity</h1>
        <p class="card-content__description">The theory of relativity usually encompasses two interrelated theories by Albert Einstein: special relativity and general relativity. Special relativity applies to elementary particles and their interactions, describing all their physical phenomena except gravity. General relativity explains the law of gravitation and its relation to other forces of nature. It applies to the cosmological and astrophysical realm, including astronomy.</p>
        <h5 class="card-content__site"><a href="http://www.space.com/17661-theory-general-relativity.html">space.com</a></h5>
        <h5 class="card-content__site"><a href="http://www.livescience.com/48922-theory-of-relativity-in-real-life.html">livescience.com</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/science/special-relativity">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Theory_of_relativity">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b02144gl">Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/relativity.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Dark Matter</h1>
        <p class="card-content__description">Dark matter is an unidentified type of matter distinct from dark energy, baryonic matter (ordinary matter), and neutrinos. The name refers to the fact that it does not emit or interact with electromagnetic radiation, such as light, and is thus invisible to the entire electromagnetic spectrum.</p>
        <h5 class="card-content__site"><a href="https://science.nasa.gov/astrophysics/focus-areas/what-is-dark-energy">nasa.gov</a></h5>
        <h5 class="card-content__site"><a href="https://home.cern/about/physics/dark-matter">Cern</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/science/dark-matter">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Dark_matter">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b054t3s2">Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/dark-matter.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Dark Energy</h1>
        <p class="card-content__description">In physical cosmology and astronomy, dark energy is an unknown form of energy which is hypothesized to permeate all of space, tending to accelerate the expansion of the universe. Dark energy is the most accepted hypothesis to explain the observations since the 1990s indicating that the universe is expanding at an accelerating rate.</p>
        <h5 class="card-content__site"><a href="https://science.nasa.gov/astrophysics/focus-areas/what-is-dark-energy">nasa.gov</a></h5>
        <h5 class="card-content__site"><a href="http://hubblesite.org/hubble_discoveries/dark_energy/de-what_is_dark_energy.php">hubblesite.org</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/science/dark-energy">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Dark_energy">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/p003k9g5">Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/dark-energy.png" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Wood Wide Web</h1>
        <p class="card-content__description">Mycorrhizal networks (also known as CMN, the "Wood Wide Web") are underground hyphal networks created by mycorrhizal fungi that connect individual plants together and transfer water, carbon, nitrogen, and other nutrients and minerals. The formation of these networks is context dependent, and can be influenced by soil fertility, resource availability, host or myco-symbiont genotype, disturbance and seasonal variation.</p>
        <h5 class="card-content__site"><a href="https://blogs.scientificamerican.com/artful-amoeba/dying-trees-can-send-food-to-neighbors-of-different-species/">scientificamerican.com</a></h5>
        <h5 class="card-content__site"><a href="https://academic.oup.com/aobpla/article/doi/10.1093/aobpla/plv050/201398/Inter-plant-communication-through-mycorrhizal">Oxford Academic papers</a></h5>{{!-- <h5 class="card-content__site"><a href="https://www.britannica.com/science/dark-energy">ENCYCLOPÆDIA BRITANNICA</a></h5> --}}
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Plant_perception_(physiology)">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Mycorrhizal_network">Wikipedia</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/mycorrhizal.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Hygiene Hypothesis</h1>
        <p class="card-content__description">In medicine, the hygiene hypothesis is a hypothesis that states that a lack of early childhood exposure to infectious agents, symbiotic microorganisms (such as the gut flora or probiotics), and parasites increases susceptibility to allergic diseases by suppressing the natural development of the immune system. In particular, the lack of exposure is thought to lead to defects in the establishment of immune tolerance.</p>
        <h5 class="card-content__site"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2841828/"> National Center for Biotechnology Information</a></h5>
        <h5 class="card-content__site"><a href="http://www.livescience.com/54078-hygiene-hypothesis.html">livescience.com</a></h5>{{!-- <h5 class="card-content__site"><a href="https://www.britannica.com/science/dark-energy">ENCYCLOPÆDIA BRITANNICA</a></h5> --}}
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Hygiene_hypothesis">Wikipedia</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/clean.jpeg" alt="" />
      </div>
    </div>
  </div>

</div>
