<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/sat.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Climate Change</h3>
      <h5 class="card-content__site"><a href="http://www.ucsusa.org/global_warming#.WHlS2rYrIp8">Union of Concerned Scientists</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/science/global-warming">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Global_warming#Scientific_discussion">Wikipedia</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>
