<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/sat.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Climate Change</h3>
      <h5 class="card-content__site"><a href="http://www.ucsusa.org/global_warming#.WHlS2rYrIp8">Union of Concerned Scientists</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/science/global-warming">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Global_warming#Scientific_discussion">Wikipedia</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/chaos.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Chaos Theory</h3>
      <h5 class="card-content__site"><a href="http://fractalfoundation.org/resources/what-is-chaos-theory/">fractalfoundation.org</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/topic/chaos-theory">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Chaos_theory">Wikipedia</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/relativity.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Theory of Relativity</h3>
      <h5 class="card-content__site"><a href="http://www.space.com/17661-theory-general-relativity.html">space.com</a></h5>
      <h5 class="card-content__site"><a href="http://www.livescience.com/48922-theory-of-relativity-in-real-life.html">livescience.com</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/science/special-relativity">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Theory_of_relativity">Wikipedia</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/relativity.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Dark Matter</h3>
      <h5 class="card-content__site"><a href="http://www.space.com/17661-theory-general-relativity.html">space.com</a></h5>
      <h5 class="card-content__site"><a href="http://www.livescience.com/48922-theory-of-relativity-in-real-life.html">livescience.com</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/science/special-relativity">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Theory_of_relativity">Wikipedia</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>
