<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/sat.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Climate Change</h3>
      <h5 class="card-content__site"><a href="http://www.ucsusa.org/global_warming#.WHlS2rYrIp8">Union of Concerned Scientists</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/science/global-warming">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Global_warming#Scientific_discussion">Wikipedia</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/chaos.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Chaos Theory</h3>
      <h5 class="card-content__site"><a href="http://fractalfoundation.org/resources/what-is-chaos-theory/">fractalfoundation.org</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/topic/chaos-theory">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Chaos_theory">Wikipedia</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/relativity.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Theory of Relativity</h3>
      <h5 class="card-content__site"><a href="http://www.space.com/17661-theory-general-relativity.html">space.com</a></h5>
      <h5 class="card-content__site"><a href="http://www.livescience.com/48922-theory-of-relativity-in-real-life.html">livescience.com</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/science/special-relativity">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Theory_of_relativity">Wikipedia</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/dark-matter.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Dark Matter</h3>
      <h5 class="card-content__site"><a href="https://science.nasa.gov/astrophysics/focus-areas/what-is-dark-energy">nasa.gov</a></h5>
      <h5 class="card-content__site"><a href="https://home.cern/about/physics/dark-matter">Cern</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/science/dark-matter">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Dark_matter">Wikipedia</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/dark-energy.png" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Dark Energy</h3>
      <h5 class="card-content__site"><a href="https://science.nasa.gov/astrophysics/focus-areas/what-is-dark-energy">nasa.gov</a></h5>
      <h5 class="card-content__site"><a href="http://hubblesite.org/hubble_discoveries/dark_energy/de-what_is_dark_energy.php">hubblesite.org</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/science/dark-energy">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Dark_energy">Wikipedia</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/mycorrhizal.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Wood Wide Web</h3>
      <h5 class="card-content__site"><a href="https://blogs.scientificamerican.com/artful-amoeba/dying-trees-can-send-food-to-neighbors-of-different-species/">scientificamerican.com</a></h5>
      <h5 class="card-content__site"><a href="https://academic.oup.com/aobpla/article/doi/10.1093/aobpla/plv050/201398/Inter-plant-communication-through-mycorrhizal">Oxford Academic papers</a></h5>
      {{!-- <h5 class="card-content__site"><a href="https://www.britannica.com/science/dark-energy">ENCYCLOPÆDIA BRITANNICA</a></h5> --}}
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Plant_perception_(physiology)">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Mycorrhizal_network">Wikipedia</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/clean.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Hygiene Hypothesis</h3>
      <h5 class="card-content__site"><a href="https://www.ncbi.nlm.nih.gov/pmc/articles/PMC2841828/"> National Center for Biotechnology Information</a></h5>
      <h5 class="card-content__site"><a href="http://www.livescience.com/54078-hygiene-hypothesis.html">livescience.com</a></h5>
      {{!-- <h5 class="card-content__site"><a href="https://www.britannica.com/science/dark-energy">ENCYCLOPÆDIA BRITANNICA</a></h5> --}}
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Hygiene_hypothesis">Wikipedia</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>
