<div class="container">

  <div class="index-content">
    <h1 class="intro">Be self taught.</h1>
    <div class="card">

      <div class="intro__box">
        <h3 class="intro__text">"Self-taught, are you?" Julian Castle asked Newt. "Isn't everybody?" Newt inquired. "Very good answer."</h3>
        <h4 class="intro__author"></h4>
      </div>

      <div class="intro__box">
        <h3 class="intro__text">"Knowledge which is acquired under compulsion obtains no hold on the mind"</h3>
        <h4 class="intro__author"></h4>
      </div>

      <div class="intro__box">
        <h3 class="intro__text">"Education is what remains after one has forgotten everything he learned in school"</h3>
        <h4 class="intro__author"></h4>
      </div>

      <div class="intro__box">
        <h3 class="intro__text">"I have never let my schooling interfere with my education"</h3>
        <h4 class="intro__author"></h4>
      </div>

      <div class="intro__box">
        <h3 class="intro__text">"Self-education is, I firmly believe, the only kind of education there is."</h3>
        <h4 class="intro__author"></h4>
      </div>

      <div class="intro__box">
        <h3 class="intro__text">"Nothing that is worth knowing can be taught."</h3>
        <h4 class="intro__author"></h4>
      </div>

      <div class="intro__box">
        <h3 class="intro__text">"It is the mark of an educated mind to be able to entertain a thought without accepting it."</h3>
        <h4 class="intro__author"></h4>
      </div>

      <div class="intro__box">
        <h3 class="intro__text">""</h3>
        <h4 class="intro__author"></h4>
      </div>

      <div class="intro__box">
        <h3 class="intro__text">""</h3>
        <h4 class="intro__author"></h4>
      </div>

    </div>
  </div>
</div>
