<div class="container">

  <div class="index-content">
    <h1 class="intro">Be self taught.</h1>

    <div class="intro__box">
      <a href="https://en.wikipedia.org/wiki/Aristotle" class="intro__link"><h3 class="intro__author">Aristotle</h3></a>
      <h3 class="intro__text right">"It is the mark of an educated mind to be able to entertain a thought without accepting it."</h3>
    </div>

    <div class="intro__box">
      <h3 class="intro__text">"Self-taught, are you?" Julian Castle asked Newt. "Isn't everybody?" Newt inquired. "Very good answer."</h3>
      <a href="https://en.wikipedia.org/wiki/Kurt_Vonnegut" class="intro__link"><h3 class="intro__author">Kurt Vonnegut</h3></a>
    </div>

    <div class="intro__box">
      <a href="https://en.wikipedia.org/wiki/Plato" class="intro__link"><h3 class="intro__author">Plato</h3></a>
      <h3 class="intro__text right">"Knowledge which is acquired under compulsion obtains no hold on the mind"</h3>
    </div>

    <div class="intro__box">
      <h3 class="intro__text">"I have never let my schooling interfere with my education"</h3>
      <a href="https://en.wikipedia.org/wiki/Mark_Twain" class="intro__link"><h3 class="intro__author">Mark Twain</h3></a>
    </div>

    <div class="intro__box">
      <a href="https://en.wikipedia.org/wiki/Isaac_Asimov" class="intro__link"><h3 class="intro__author">Issac Asimov</h3></a>
      <h3 class="intro__text right">"Self-education is, I firmly believe, the only kind of education there is."</h3>
    </div>


    <div class="intro__box">
      <h3 class="intro__text">"To develop a complete mind: study the science of art; study the art of science. Learn how to see. Realize that everything connects to everything else"</h3>
      <a href="https://en.wikipedia.org/wiki/Leonardo_da_Vinci" class="intro__link"><h3 class="intro__author">Leonardo da Vinci</h3></a>
    </div>


  </div>
</div>
