<div class="container">

  <div class="index-content">
    <h1 class="intro">Be self taught.</h1>
    <div class="card">

      <div class="intro__box">
        <h3 class="intro__text">"Self-taught, are you?" Julian Castle asked Newt. "Isn't everybody?" Newt inquired. "Very good answer."</h3>
        <a href="https://en.wikipedia.org/wiki/Kurt_Vonnegut" class="intro__link"><h4 class="intro__author">Kurt Vonnegut</h4></a>
      </div>

      <div class="intro__box">
        <h3 class="intro__text">"Knowledge which is acquired under compulsion obtains no hold on the mind"</h3>
        <a href="https://en.wikipedia.org/wiki/Plato" class="intro__link"><h4 class="intro__author">Plato</h4></a>
      </div>

      {{!-- <div class="intro__box">
        <h3 class="intro__text">"Education is what remains after one has forgotten everything he learned in school"</h3>
        <a href="" class="intro__link"><h4 class="intro__author">Mark Twain</h4></a>
      </div> --}}

      <div class="intro__box">
        <h3 class="intro__text">"I have never let my schooling interfere with my education"</h3>
        <a href="https://en.wikipedia.org/wiki/Mark_Twain" class="intro__link"><h4 class="intro__author">Mark Twain</h4></a>
      </div>

      <div class="intro__box">
        <h3 class="intro__text">"Self-education is, I firmly believe, the only kind of education there is."</h3>
        <a href="https://en.wikipedia.org/wiki/Isaac_Asimov" class="intro__link"><h4 class="intro__author">Issac Asimov</h4></a>
      </div>

      <div class="intro__box">
        <h3 class="intro__text">"Nothing that is worth knowing can be taught."</h3>
        <a href="https://en.wikipedia.org/wiki/Oscar_Wilde" class="intro__link"><h4 class="intro__author">Oscar Wilde</h4></a>
      </div>

      <div class="intro__box">
        <h3 class="intro__text">"It is the mark of an educated mind to be able to entertain a thought without accepting it."</h3>
        <a href="https://en.wikipedia.org/wiki/Aristotle" class="intro__link"><h4 class="intro__author">Aristotle</h4></a>
      </div>

      <div class="intro__box">
        <h3 class="intro__text">"When you want to teach children to think, you begin by treating them seriously when they are little, giving them responsibilities, talking to them candidly, providing privacy and solitude for them, and making them readers and thinkers of significant thoughts from the beginning. That’s if you want to teach them to think."</h3>
        <a href="https://en.wikipedia.org/wiki/Bertrand_Russell" class="intro__link"><h4 class="intro__author">Bertrand Russell</h4></a>
      </div>

      <div class="intro__box">
        <h3 class="intro__text">"I know of nothing more inspiring than that of making discoveries for one’s self."</h3>
        <a href="https://en.wikipedia.org/wiki/George_Washington_Carver" class="intro__link"><h4 class="intro__author">George Washington Carver</h4></a>
      </div>

      <div class="intro__box">
        <h3 class="intro__text">"To develop a complete mind: study the science of art; study the art of science. Learn how to see. Realize that everything connects to everything else"</h3>
        <a href="https://en.wikipedia.org/wiki/Leonardo_da_Vinci" class="intro__link"><h4 class="intro__author">Leonardo da Vinci</h4></a>
      </div>

      <div class="intro__box">
        <h3 class="intro__text">""</h3>
        <a href="" class="intro__link"><h4 class="intro__author"></h4></a>
      </div>

    </div>
  </div>
</div>
