<div class="container">
  <div class="index-content">
    <h1 class="intro">I'm very aware that you don't care what I think.</h1>
    <h3 class="intro__text">With that being said, here are some things that I think are important, or at least have been
    important to me. Podcasts, Books, Movies, Photos, People and events permeate our world and they shape our ideas. Our
    ideas control our minds and actions. Garbage in, garbage out. Don't let the lack of ideas limit your mind.  So checkout
    my suggestions, then find other suggestions.  More input = broader base to formulate your own original ideas.
  </h3>
  </div>

  </div>
