<div class="container">
  <div class="link-flex">
    <div class="link-box">
      <div class="link-box__links">
        {{#link-to 'index.west-civ'}}Western Civ{{/link-to}}
      </div>
      <div class="link-box__links">
        {{#link-to 'index.bio'}}Biology{{/link-to}}
      </div>

      <div class="link-box__links">
        {{#link-to 'index.astro'}}Astronomy{{/link-to}}
      </div>

      <div class="link-box__links">
        {{#link-to 'index.phy'}}Physics{{/link-to}}
      </div>
    </div>

    <h1 class="nav__title">{{#link-to 'index'}}KNOW THIS{{/link-to}}</h1>
    <div class="link-content">
      {{outlet}}
    </div>
  </div>

</div>
