<div class="scroll">

  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">A Walk in the Woods</h1>
        <h5 class="card-content__duration">Bill Bryson</h5>
        <p class="card-content__description">It is Bill Bryson, describing his attempt to walk the Appalachian Trail with his friend "Stephen Katz". The book is written in a humorous style, interspersed with more serious discussions of matters relating to the trail's history, and the surrounding sociology, ecology, trees, plants, animals and people.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/a-walk-in-the-woods/id420526065?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/walk.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Chance</h1>
        <h5 class="card-content__duration">Amir D. Aczel</h5>
        <p class="card-content__description">In Chance, celebrated mathematician Amir D. Aczel turns his sights on probability theory—the branch of mathematics that measures the likelihood of a random event. He explains probability in clear, layman's terms, and shows its practical applications.</p>
        <h5 class="card-content__site"><a href="https://www.amazon.com/Chance-Guide-Gambling-Market-Everything/dp/1560257946">@amazon</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/chance.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">The Origin of the Species</h1>
        <h5 class="card-content__duration">Charles Darwin</h5>
        <p class="card-content__description">Is a work of scientific literature by Charles Darwin which is considered to be the foundation of evolutionary biology. Darwin's book introduced the scientific theory that populations evolve over the course of generations through a process of natural selection. </p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/on-the-origin-of-species/id395536758?mt=11">@itunes</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b00gd3wy">Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/species.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Outliers</h1>
        <h5 class="card-content__duration">Malcolm Gladwell</h5>
        <p class="card-content__description">Gladwell examines the factors that contribute to high levels of success. To support his thesis, he examines the causes of why the majority of Canadian ice hockey players are born in the first few months of the calendar year, how Microsoft co-founder Bill Gates achieved his extreme wealth, how The Beatles became one of the most successful musical acts in human history.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/outliers/id852934327?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/outliers.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Scatter, Adapt, and Remember</h1>
        <h5 class="card-content__duration">Annalee Newitz</h5>
        <p class="card-content__description">Scatter's premise is that the human race will face extinction-grade crises in the future, and that we can learn how to survive them by examining the strategies of species that successfully weathered previous extinction events, and cultures and tribes of humans that have managed to survive their own near-annihilation.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/scatter-adapt-and-remember/id579949419?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/scatter.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">The Disaster Diaries</h1>
        <h5 class="card-content__duration">Sam Sheridan</h5>
        <p class="card-content__description">A man’s journey to learn the basic skills required to survive an apocalypse, one humbling and angst-filled lesson at a time.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/the-disaster-diaries/id542046513?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/disaster.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">The Life And Times Of The Thunderbolt Kid</h1>
        <h5 class="card-content__duration">Bill Bryson</h5>
        <p class="card-content__description">The book delves into Bryson's past, telling of his youth growing up in Des Moines, Iowa, during the 1950s and early 1960s.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/life-times-thunderbolt-kid/id419974695?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/thunder.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Lab Girl</h1>
        <h5 class="card-content__duration">Hope Jahren</h5>
        <p class="card-content__description">An illuminating debut memoir of a woman in science; a moving portrait of a longtime friendship; and a stunningly fresh look at plants that will forever change how you see the natural world.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/lab-girl/id1031069086?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/lab.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Rabid</h1>
        <h5 class="card-content__duration">Bill Wasik</h5>
        <p class="card-content__description">An engrossing, lively history of a fearsome and misunderstood virus that binds man and dog. The most fatal virus known to science, rabies — a disease that spreads avidly from animals to humans — kills nearly one hundred percent of its victims once the infection takes root in the brain.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/rabid/id498634298?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/rabid.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">How Great Generals Win</h1>
        <h5 class="card-content__duration">Bevin Alexander</h5>
        <p class="card-content__description">If a key to military victory is to "get there first with the most," the true test of the great general is to decide where "there" is—the enemy's Achilles heel.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/how-great-generals-win/id449605505?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/general.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">The Swerve</h1>
        <h5 class="card-content__duration">Stephen Greenblatt</h5>
        <p class="card-content__description">Greenblatt tells the story of how Poggio Bracciolini, a 15th-century papal emissary and obsessive book hunter, saved the last copy of the Roman poet Lucretius's On the Nature of Things from near-terminal neglect in a German monastery, thus reintroducing important ideas that sparked the modern age.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/swerve-how-world-became-modern/id448928961?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/swerve.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Moneyball</h1>
        <h5 class="card-content__duration">Micheal Lewis</h5>
        <p class="card-content__description">It's about the Oakland Athletics baseball team and its general manager Billy Beane. Its focus is the team's analytical, evidence-based, sabermetric approach to assembling a competitive baseball team, despite Oakland's disadvantaged revenue situation.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/moneyball-art-winning-unfair/id388217004?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/moneyball.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">A Short History of Nearly Everything</h1>
        <h5 class="card-content__duration">Bill Bryson</h5>
        <p class="card-content__description">A Short History deviates from Bryson's popular travel book genre, instead describing general sciences such as chemistry, paleontology, astronomy, and particle physics. In it, he explores time from the Big Bang to the discovery of quantum mechanics, via evolution and geology.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/short-history-nearly-everything/id419458951?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/everything.jpeg" alt="" />
      </div>
    </div>
  </div>

</div>
