<div class="scroll">
  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">A Walk in the Woods: Rediscovering America on the Appalachian Trail</h3>
        <h5 class="card-content__duration">Bill Bryson</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/a-walk-in-the-woods/id420526065?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/walk.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Chance: A Guide to Gambling, Love, The Stock Market, & Just About Everything Else</h3>
        <h5 class="card-content__duration">Amir D. Aczel</h5>
        <h5 class="card-content__site"><a href="https://www.amazon.com/Chance-Guide-Gambling-Market-Everything/dp/1560257946">@amazon</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/chance.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">The Origin of the Species</h3>
        <h5 class="card-content__duration">Charles Darwin</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/on-the-origin-of-species/id395536758?mt=11">@itunes</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b00gd3wy">Podcast Episode</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/species.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Outliers</h3>
        <h5 class="card-content__duration">Malcolm Gladwell</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/outliers/id852934327?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/outliers.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Scatter, Adapt, and Remember: How Humans Will Survive a Mass Extinction</h3>
        <h5 class="card-content__duration">Annalee Newitz</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/scatter-adapt-and-remember/id579949419?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/scatter.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">The Disaster Diaries: One Man's Quest to Learn Everything Necessary to Survive the Apocalypse</h3>
        <h5 class="card-content__duration">Sam Sheridan</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/the-disaster-diaries/id542046513?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/disaster.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">The Life And Times Of The Thunderbolt Kid - A Memoir</h3>
        <h5 class="card-content__duration">Bill Bryson</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/life-times-thunderbolt-kid/id419974695?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/thunder.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Lab Girl</h3>
        <h5 class="card-content__duration">Hope Jahren</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/lab-girl/id1031069086?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/lab.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Rabid: A Cultural History of the World's Most Diabolical Virus</h3>
        <h5 class="card-content__duration">Bill Wasik</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/rabid/id498634298?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/rabid.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">How Great Generals Win</h3>
        <h5 class="card-content__duration">Bevin Alexander</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/how-great-generals-win/id449605505?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/general.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">The Swerve: How the World Became Modern</h3>
        <h5 class="card-content__duration">Stephen Greenblatt</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/swerve-how-world-became-modern/id448928961?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/swerve.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Moneyball: The Art of Winning an Unfair Game</h3>
        <h5 class="card-content__duration">Micheal Lewis</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/moneyball-art-winning-unfair/id388217004?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/moneyball.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">A Short History of Nearly Everything</h3>
        <h5 class="card-content__duration">Bill Bryson</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/short-history-nearly-everything/id419458951?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/everything.jpeg" alt="" />
      </div>
    </div>
  </div>

</div>
