<div class="app">
  <div class="nav">
    <div class="container">
      <h1 class="nav__title">{{#link-to 'index'}}My Favorite Stuff and Things{{/link-to}}</h1>
      <div class="nav__bottom">
          {{#link-to 'podcast'}}<h3>Podcasts</h3>{{/link-to}}
          {{#link-to 'books'}}<h3>Books</h3>{{/link-to}}
          {{#link-to 'movies'}}<h3>Movies</h3>{{/link-to}}
          {{#link-to 'photos'}}<h3>Photos</h3>{{/link-to}}
          {{#link-to 'people'}}<h3>People</h3>{{/link-to}}
          {{#link-to 'moments'}}<h3>Events</h3>{{/link-to}}
          {{#link-to 'eotw'}}<h3>EOTW</h3>{{/link-to}}

      </div>
    </div>
  </div>
  {{outlet}}
</div>
