<div class="app">
  <div class="nav">
    <div class="container">
      <h1 class="nav__title">Top Pics</h1>
      <div class="nav__bottom">

        <div class="subject">
          <h3 class="subject__title">Podcasts</h3>
          {{!-- <div class="subject__dropdown">
            <div class="subject__dropdown-item">link</div>
            <div class="subject__dropdown-item">link</div>
            <div class="subject__dropdown-item">link</div>
          </div> --}}
        </div>

        <div class="subject">
          <h3 class="subject__title">Books</h3>
          {{!-- <div class="subject__dropdown">
            <div class="subject__dropdown-item">link</div>
            <div class="subject__dropdown-item">link</div>
            <div class="subject__dropdown-item">link</div>
          </div> --}}
        </div>

        <div class="subject">
          <h3 class="subject__title">Movies</h3>
          {{!-- <div class="subject__dropdown">
            <div class="subject__dropdown-item">link</div>
            <div class="subject__dropdown-item">link</div>
            <div class="subject__dropdown-item">link</div>
          </div> --}}
        </div>

        <div class="subject">
          <h3 class="subject__title">Photos</h3>
          {{!-- <div class="subject__dropdown">
            <div class="subject__dropdown-item">link</div>
            <div class="subject__dropdown-item">link</div>
            <div class="subject__dropdown-item">link</div>
          </div> --}}
        </div>

        <div class="subject">
          <h3 class="subject__title">People</h3>
          {{!-- <div class="subject__dropdown">
            <div class="subject__dropdown-item">link</div>
            <div class="subject__dropdown-item">link</div>
            <div class="subject__dropdown-item">link</div>
          </div> --}}
        </div>

        <div class="subject">
          <h3 class="subject__title">Moments</h3>
          {{!-- <div class="subject__dropdown">
            <div class="subject__dropdown-item">link</div>
            <div class="subject__dropdown-item">link</div>
            <div class="subject__dropdown-item">link</div>
          </div> --}}
        </div>

        <div class="subject">
          <h3 class="subject__title">EOTW</h3>
          {{!-- <div class="subject__dropdown">
            <div class="subject__dropdown-item">link</div>
            <div class="subject__dropdown-item">link</div>
            <div class="subject__dropdown-item">link</div>
          </div> --}}
        </div>

      </div>
    </div>
  </div>
  {{outlet}}
</div>
