<div class="app">
  <div class="nav">
    <div class="container">
      <h1 class="nav__title">Top Pics</h1>
      <div class="nav__bottom">
          <h3 class="subject__title">Podcasts</h3>
          <h3 class="subject__title">Books</h3>
          <h3 class="subject__title">Movies</h3>
          <h3 class="subject__title">Photos</h3>
          <h3 class="subject__title">People</h3>
          <h3 class="subject__title">Moments</h3>
          <h3 class="subject__title">EOTW</h3>

      </div>
    </div>
  </div>
  {{outlet}}
</div>
