<div class="app">
  <div class="nav">
    <div class="container">
      <h1 class="nav__title">{{#link-to 'index'}}Top Pics{{/link-to}}</h1>
      <div class="nav__bottom">
          {{#link-to 'index'}}<h3>Podcasts</h3>{{/link-to}}
          {{#link-to 'index'}}<h3>Books</h3>{{/link-to}}
          {{#link-to 'index'}}<h3>Movies</h3>{{/link-to}}
          {{#link-to 'index'}}<h3>Photos</h3>{{/link-to}}
          {{#link-to 'index'}}<h3>People</h3>{{/link-to}}
          {{#link-to 'index'}}<h3>Moments</h3>{{/link-to}}
          {{#link-to 'index'}}<h3>EOTW</h3>{{/link-to}}

      </div>
    </div>
  </div>
  {{outlet}}
</div>
