<div class="app">
  <div class="nav">
    <div class="container">
      <div class="nav__title">top pics</div>
      <div class="nav__right">

        <div class="subject">
          <div class="subject__title">Favorites</div>
          <div class="subject__dropdown">
            <div class="subject__dropdown-item">link</div>
            <div class="subject__dropdown-item">link</div>
            <div class="subject__dropdown-item">link</div>
          </div>
        </div>

      </div>
    </div>
  </div>
  {{outlet}}
</div>
