<div class="app">
  <div class="nav">
    <div class="container">
      {{!-- <h1 class="nav__title">{{#link-to 'index'}}knowthis.website{{/link-to}}</h1> --}}
      <div class="nav__bottom">
        {{#link-to 'index'}}<h3>Podcast Playlists</h3>{{/link-to}}
        {{#link-to 'podcast'}}<h3>Podcasts</h3>{{/link-to}}
        {{#link-to 'ideas'}}<h3>Ideas</h3>{{/link-to}}
        {{#link-to 'people'}}<h3>People</h3>{{/link-to}}
        {{#link-to 'books'}}<h3>Books</h3>{{/link-to}}
        {{#link-to 'moments'}}<h3>Events</h3>{{/link-to}}

      </div>
    </div>
  </div>
  <div class="content">
    {{outlet}}
  </div>
</div>
