<div class="scroll">
  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Breakfast of Champions</h3>
        <h5 class="card-content__duration">Kurt Vonnegut</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/breakfast-of-champions/id420266443?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/breakfast.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/germs.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">Guns, Germs, and Steel</h3>
        <h5 class="card-content__duration">Jared Diamond</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/guns-germs-steel-fates-human/id383135776?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Fight Club</h3>
        <h5 class="card-content__duration">Chuck Palahniuk</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/fight-club-a-novel/id380555687?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/fight.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/freak.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">Freakanomics</h3>
        <h5 class="card-content__duration">Steven Levitt and ‎Stephen J. Dubner</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/freakonomics-rev-ed/id360609650?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Hero with a Thousand Faces</h3>
        <h5 class="card-content__duration">Joseph Campbell</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/audiobook/hero-thousand-faces-unabridged/id1081056104">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/hero.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/genome.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">Genome: The Autobiography of a Species in 23 Chapters</h3>
        <h5 class="card-content__duration">Matt Ridley</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/genome/id592017787?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">At Home: A Short History of Private Life</h3>
        <h5 class="card-content__duration">Bill Bryson</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/at-home/id419948003?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/home.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/spillover.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">Spillover: Animal Infections and the Next Human Pandemic</h3>
        <h5 class="card-content__duration">David Quammen</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/spillover-animal-infections/id549644641?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Brave New World</h3>
        <h5 class="card-content__duration">Aldous Huxley</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/brave-new-world/id867234353?mt=11">@itunes</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b00jn8bc">Podcast Episode</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/brave.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/galaxy.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">The Hitchhiker's Guide to the Galaxy</h3>
        <h5 class="card-content__duration">Douglas Adams</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/hitchhikers-guide-to-galaxy/id419921448?mt=11">@itunes</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>
</div>
