<div class="scroll">

  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Breakfast of Champions</h1>
        <h5 class="card-content__duration">Kurt Vonnegut</h5>
        <p class="card-content__description">Breakfast of Champions, or Goodbye Blue Monday, published in 1973, is the seventh novel by the American author Kurt Vonnegut. Set predominantly in the fictional town of Midland City, Indiana, it is the story of "two lonesome, skinny, fairly old white men on a planet which was dying fast."</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/breakfast-of-champions/id420266443?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/breakfast.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Guns, Germs, and Steel</h1>
        <h5 class="card-content__duration">Jared Diamond</h5>
        <p class="card-content__description">The book attempts to explain why Eurasian civilizations (including North Africa) have survived and conquered others, while arguing against the idea that Eurasian hegemony is due to any form of Eurasian intellectual, moral, or inherent genetic superiority. Diamond argues that the gaps in power and technology between human societies originate primarily in environmental differences, which are amplified by various positive feedback loops.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/guns-germs-steel-fates-human/id383135776?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/germs.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Fight Club</h1>
        <h5 class="card-content__duration">Chuck Palahniuk</h5>
        <p class="card-content__description">Inspired by his doctor's exasperated remark that insomnia is not suffering, the protagonist finds relief by impersonating a seriously ill person in several support groups. Then he meets a mysterious man named Tyler Durden and establishes an underground fighting club as radical psychotherapy.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/fight-club-a-novel/id380555687?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/fight.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Freakanomics</h1>
        <h5 class="card-content__duration">Steven Levitt and ‎Stephen J. Dubner</h5>
        <p class="card-content__description">The book is a collection of 'economic' articles written by Levitt, an expert who has already gained a reputation for applying economic theory to diverse subjects not usually covered by "traditional" economists; he does, however, accept the standard neoclassical microeconomic model of rational utility-maximization.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/freakonomics-rev-ed/id360609650?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/freak.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Hero with a Thousand Faces</h1>
        <h5 class="card-content__duration">Joseph Campbell</h5>
        <p class="card-content__description">Campbell explores the theory that important myths from around the world which have survived for thousands of years all share a fundamental structure, which Campbell called the monomyth.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/audiobook/hero-thousand-faces-unabridged/id1081056104">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/hero.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Genome: The Autobiography of a Species in 23 Chapters</h1>
        <h5 class="card-content__duration">Matt Ridley</h5>
        <p class="card-content__description">The book devotes one chapter to each pair of human chromosomes. Since one (unnumbered) chapter is required to discuss the sex chromosomes, the final chapter is number 22.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/genome/id592017787?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/genome.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">At Home: A Short History of Private Life</h1>
        <h5 class="card-content__duration">Bill Bryson</h5>
        <p class="card-content__description">At Home is a history of domestic life written by Bill Bryson. It was published in May 2010. The book covers topics of the commerce, architecture, technology and geography that have shaped homes into what they are today, told through a series of "tours" through Bryson's Norfolk rectory that quickly digress into the history of each particular room.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/at-home/id419948003?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/home.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Spillover: Animal Infections and the Next Human Pandemic</h1>
        <h5 class="card-content__duration">David Quammen</h5>
        <p class="card-content__description">Spillover is a work of science reporting, history, and travel, tracking this subject around the world.  For five years, I shadowed scientists into the field--a rooftop in Bangladesh, a forest in the Congo, a Chinese rat farm, a suburban woodland in Duchess County, New York-and through their high-biosecurity laboratories. </p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/spillover-animal-infections/id549644641?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/spillover.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Brave New World</h1>
        <h5 class="card-content__duration">Aldous Huxley</h5>
        <p class="card-content__description">Set in London in the year AD 2540 (632 A.F.—"After Ford"—in the book), the novel anticipates developments in reproductive technology, sleep-learning, psychological manipulation, and classical conditioning that combine profoundly to change society.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/brave-new-world/id867234353?mt=11">@itunes</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b00jn8bc">Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/brave.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">The Hitchhiker's Guide to the Galaxy</h1>
        <h5 class="card-content__duration">Douglas Adams</h5>
        <p class="card-content__description">The broad narrative follows the misadventures of the last surviving man, Arthur Dent, following the demolition of the planet Earth by a Vogon constructor fleet to make way for a hyperspace bypass. Dent is rescued from Earth's destruction by Ford Prefect, a human-like alien writer for the eccentric, electronic travel guide The Hitchhiker's Guide to the Galaxy, by hitchhiking onto a passing spacecraft.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/hitchhikers-guide-to-galaxy/id419921448?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/galaxy.jpeg" alt="" />
      </div>
    </div>
  </div>



    <div class="card">
      <div class="card-content">
        <div class="card-content__text">
          <h1 class="card-content__title">American Gods</h1>
          <h5 class="card-content__duration">Neil Gaiman</h5>
          <p class="card-content__description">The novel is a blend of Americana, fantasy, and various strands of ancient and modern mythology, all centering on the mysterious and taciturn Shadow.</p>
          <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/american-gods-the-tenth-anniversary-edition/id436646539?mt=11">@itunes</a></h5>
        </div>
        <div class="card-content__img">
          <img class="card-content__img-pic" src="../images/book/agods.jpeg" alt="" />
        </div>
      </div>
    </div>

</div>
