<div class="scroll">
  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Slaughterhouse-Five, or The Children's Crusade: A Duty-Dance with Death</h1>
        <h5 class="card-content__duration">Kurt Vonnegut</h5>
        <p class="card-content__description">It's a satirical novel by Kurt Vonnegut about World War II experiences and journeys through time of Billy Pilgrim, from his time as an American soldier and chaplain's assistant, to postwar and early years.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/slaughterhouse-five/id420036399?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/slaughter.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Lord of the Flies</h1>
        <h5 class="card-content__duration">William Golding</h5>
        <p class="card-content__description">The book's premise focuses on a group of British boys stranded on an uninhabited island and their attempt to govern themselves, with disastrous results.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/lord-of-the-flies/id357921743?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/flies.png" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">The Road</h1>
        <h5 class="card-content__duration">Cormac McCarthy</h5>
        <p class="card-content__description">It is a post-apocalyptic tale of a journey of a father and his young son over a period of several months, across a landscape blasted by an unspecified cataclysm that has destroyed most of civilization and, in the intervening years, almost all life on Earth.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/the-road/id419941919?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/road.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">The Jungle</h1>
        <h5 class="card-content__duration">Upton Sinclair</h5>
        <p class="card-content__description">Sinclair wrote the novel to portray the harsh conditions and exploited lives of meat packing industries in the United States in Chicago and similar industrialized cities. However, most readers were more concerned with his exposure of health violations and unsanitary practices in the American meatpacking industry during the early 20th century, greatly contributing to a public outcry which led to reforms including the Meat Inspection Act.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/the-jungle/id395534909?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/jungle.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">1984</h1>
        <h5 class="card-content__duration">George Orwell</h5>
        <p class="card-content__description">The novel is set in Airstrip One (formerly known as Great Britain), a province of the superstate Oceania in a world of perpetual war, omnipresent government surveillance, and public manipulation, dictated by a political system euphemistically named English Socialism (or Ingsoc in the government's invented language, Newspeak) under the control of a privileged elite of the Inner Party, that persecutes individualism and independent thinking as "thoughtcrime".</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/1984/id427503546?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/1984.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Sum: Forty Tales from the Afterlives</h1>
        <h5 class="card-content__duration">David Eagleman</h5>
        <p class="card-content__description">As a short story cycle, the book presents forty mutually exclusive stories staged in a wide variety of possible afterlives. The author has stated that none of the stories is meant to be taken as serious theological proposals but, instead, that the message of the book is the importance of exploring new ideas beyond the ones that have been traditionally passed down.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/sum/id420049112?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/sum.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Of Mice and Men</h1>
        <h5 class="card-content__duration">John Steinbeck</h5>
        <p class="card-content__description">It tells the story of George Milton and Lennie Small, two displaced migrant ranch workers, who move from place to place in California in search of new job opportunities during the Great Depression in the United States.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/of-mice-and-men/id357998291?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/mice.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Galapagos</h1>
        <h5 class="card-content__duration">Kurt Vonnegut</h5>
        <p class="card-content__description">Galápagos is the eleventh novel written by American author Kurt Vonnegut. The novel questions the merit of the human brain from an evolutionary perspective. The title is both a reference to the islands on which part of the story plays out, and a tribute to Charles Darwin on whose theory Vonnegut relies to reach his own conclusions.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/galapagos/id420341479?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/galapagos.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">World War Z</h1>
        <h5 class="card-content__duration">Max Brooks</h5>
        <p class="card-content__description">The novel is a collection of individual accounts narrated by an agent of the United Nations Postwar Commission, following the devastating global conflict against the zombie plague. Other passages record a decade-long desperate struggle, as experienced by people of various nationalities. The personal accounts also describe the resulting social, political, religious, and environmental changes.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/world-war-z/id422436697?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/zwar.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">American Gods</h1>
        <h5 class="card-content__duration">Neil Gaiman</h5>
        <p class="card-content__description">The novel is a blend of Americana, fantasy, and various strands of ancient and modern mythology, all centering on the mysterious and taciturn Shadow.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/american-gods-the-tenth-anniversary-edition/id436646539?mt=11">@itunes</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/book/agods.jpeg" alt="" />
      </div>
    </div>
  </div>
</div>
