<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/book/slaughter.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Slaughterhouse-Five, or The Children's Crusade: A Duty-Dance with Death</h3>
      <h5 class="card-content__duration">Kurt Vonnegut</h5>
      <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/slaughterhouse-five/id420036399?mt=11">@itunes</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/book/flies.png" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Lord of the Flies</h3>
      <h5 class="card-content__duration">William Golding</h5>
      <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/lord-of-the-flies/id357921743?mt=11">@itunes</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/book/road.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">The Road</h3>
      <h5 class="card-content__duration">Cormac McCarthy</h5>
      <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/the-road/id419941919?mt=11">@itunes</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/book/jungle.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">The Jungle</h3>
      <h5 class="card-content__duration">Upton Sinclair</h5>
      <h5 class="card-content__site"><a href="https://itunes.apple.com/us/book/the-jungle/id395534909?mt=11">@itunes</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>
