<div class="cardz">
  <div class="cardz-content">

    <div class="cardz-content__text">
      <h1 class="cardz-content__title">Francisco de Miranda</h1>
      <h5 class="cardz-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="cardz-content__site"><a href="https://en.wikipedia.org/wiki/Francisco_de_Miranda">Wikipedia</a></h5>
      <h5 class="cardz-content__site"><a href="https://www.britannica.com/biography/Francisco-de-Miranda">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="cardz-content__site"><a href="http://www.revolutionspodcast.com/2016/06/503-the-precursers.html">Podcast Episode</a></h5>
      <p class="cardz-content__description">He bummed around the world and got to hang out with everyone.</p>
    </div>
    {{!-- <div class="cardz-content__back"></div> --}}
    <div class="cardz-content__img">
      <img class="cardz-content__img-pic" src="../images/people/miranda.jpeg" alt="" />
    </div>

  </div>
</div>
