<div class="scroll">
  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Age of Enlightenment</h3>
        <h5 class="card-content__duration">18th century(ish)</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Age_of_Enlightenment">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/event/Enlightenment-European-history">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.history.com/topics/enlightenment">history.com</a></h5>
        <h5 class="card-content__site"><a href="https://www.khanacademy.org/humanities/monarchy-enlightenment/rococo/a/a-beginners-guide-to-the-age-of-enlightenment">khanacademy</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/p005479m">Podcast Episode</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/enlightenment.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Cogito ergo sum</h3>
        <h5 class="card-content__duration">1644</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Cogito_ergo_sum">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/cogito-ergo-sum">ENCYCLOPÆDIA BRITANNICA</a></h5>{{!-- <h5 class="card-content__site"><a href="http://www.history.com/topics/enlightenment">history.com</a></h5> --}}
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b010mvcp">Podcast Episode</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/cogito.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Laissez-faire</h3>{{!-- <h5 class="card-content__duration">1644</h5> --}}
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Laissez-faire">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/laissez-faire">ENCYCLOPÆDIA BRITANNICA</a></h5>{{!-- <h5 class="card-content__site"><a href="http://www.history.com/topics/enlightenment">history.com</a></h5> --}}
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/laissez.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Universal Suffrage</h3>{{!-- <h5 class="card-content__duration">1644</h5> --}}
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Universal_suffrage">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/suffrage">ENCYCLOPÆDIA BRITANNICA</a></h5>{{!-- <h5 class="card-content__site"><a href="http://www.history.com/topics/enlightenment">history.com</a></h5> --}}
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b00jjgg8">Podcast Episode</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/suffrage.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Gödel’s Incompleteness Theorems</h3>{{!-- <h5 class="card-content__duration">1644</h5> --}}
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/G%C3%B6del%27s_incompleteness_theorems">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/incompleteness-theorem">ENCYCLOPÆDIA BRITANNICA</a></h5>{{!-- <h5 class="card-content__site"><a href="http://www.history.com/topics/enlightenment">history.com</a></h5> --}}
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b00dshx3">Podcast Episode</a></h5>{{!-- <h5 class="card-content__site"><a href="http://www.history.com/topics/enlightenment">history.com</a></h5> --}}
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/godel.png" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Natural Selection</h3>{{!-- <h5 class="card-content__duration">1644</h5> --}}
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Natural_selection">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/science/natural-selection">ENCYCLOPÆDIA BRITANNICA</a></h5>{{!-- <h5 class="card-content__site"><a href="http://www.history.com/topics/enlightenment">history.com</a></h5> --}}
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/evolution.jpeg" alt="" />
      </div>
    </div>
  </div>
</div>
