<div class="scroll">
  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Age of Enlightenment</h1>
        <h5 class="card-content__duration">18th century(ish)</h5>
        <p class="card-content__description">The Enlightenment included a range of ideas centered on reason as the primary source of authority and legitimacy, and came to advance ideals like liberty, progress, tolerance, fraternity, constitutional government, and separation of church and state.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Age_of_Enlightenment">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/event/Enlightenment-European-history">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.history.com/topics/enlightenment">history.com</a></h5>
        <h5 class="card-content__site"><a href="https://www.khanacademy.org/humanities/monarchy-enlightenment/rococo/a/a-beginners-guide-to-the-age-of-enlightenment">khanacademy</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/p005479m">Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/enlightenment.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Cogito ergo sum</h1>
        <h5 class="card-content__duration">1644</h5>
        <p class="card-content__description">Cogito ergo sum is a Latin philosophical proposition by René Descartes usually translated into English as "I think, therefore I am". </p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Cogito_ergo_sum">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/cogito-ergo-sum">ENCYCLOPÆDIA BRITANNICA</a></h5>{{!-- <h5 class="card-content__site"><a href="http://www.history.com/topics/enlightenment">history.com</a></h5> --}}
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b010mvcp">Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/cogito.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Laissez-faire</h1>
        {{!-- <h5 class="card-content__duration">1644</h5> --}}
        <p class="card-content__description">Laissez-faire is an economic system in which transactions between private parties are free from government interference such as regulations, privileges, tariffs, and subsidies. The phrase laissez-faire is part of a larger French phrase and literally translates to "let (it/them) do".</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Laissez-faire">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/laissez-faire">ENCYCLOPÆDIA BRITANNICA</a></h5>{{!-- <h5 class="card-content__site"><a href="http://www.history.com/topics/enlightenment">history.com</a></h5> --}}
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/laissez.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Universal Suffrage</h1>{{!-- <h5 class="card-content__duration">1644</h5> --}}
        <p class="card-content__description">The concept of universal suffrage, also known as general suffrage or common suffrage, consists of the right to vote of all except a small number of adult citizens.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Universal_suffrage">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/suffrage">ENCYCLOPÆDIA BRITANNICA</a></h5>{{!-- <h5 class="card-content__site"><a href="http://www.history.com/topics/enlightenment">history.com</a></h5> --}}
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b00jjgg8">Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/suffrage.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Gödel’s Incompleteness Theorems</h1>{{!-- <h5 class="card-content__duration">1644</h5> --}}
        <p class="card-content__description">Gödel's incompleteness theorems are two theorems of mathematical logic that demonstrate the inherent limitations of every formal axiomatic system containing basic arithmetic. Gödel's incompleteness theorems are two theorems of mathematical logic that demonstrate the inherent limitations of every formal axiomatic system containing basic arithmetic.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/G%C3%B6del%27s_incompleteness_theorems">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/incompleteness-theorem">ENCYCLOPÆDIA BRITANNICA</a></h5>{{!-- <h5 class="card-content__site"><a href="http://www.history.com/topics/enlightenment">history.com</a></h5> --}}
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b00dshx3">Podcast Episode</a></h5>{{!-- <h5 class="card-content__site"><a href="http://www.history.com/topics/enlightenment">history.com</a></h5> --}}
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/godel.png" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Natural Selection</h1>{{!-- <h5 class="card-content__duration">1644</h5> --}}
        <p class="card-content__description">Natural selection is the differential survival and reproduction of individuals due to differences in phenotype. It is a key mechanism of evolution, the change in heritable traits of a population over time. Charles Darwin popularised the term "natural selection", and compared it with artificial selection.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Natural_selection">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/science/natural-selection">ENCYCLOPÆDIA BRITANNICA</a></h5>{{!-- <h5 class="card-content__site"><a href="http://www.history.com/topics/enlightenment">history.com</a></h5> --}}
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/evolution.jpeg" alt="" />
      </div>
    </div>
  </div>
</div>
