<div class="container">
  <div class="link-box">
    <h3 class="link-box__title">Podcasts</h3>
    <div class="link-box__links">{{#link-to 'podcast.top-ten'}}Top Ten Favorites{{/link-to}}</div>
  </div>
  {{outlet}}
</div>
