<div class="container">
  <div class="link-flex">
    <div class="link-box">
      {{!-- <h3 class="link-box__title">Podcasts</h3> --}}
      <div class="link-box__links">
        {{#link-to 'podcast.top-ten'}}Top Ten Favorites{{/link-to}}
      </div>
      <div class="link-box__links">
        {{#link-to 'podcast.history'}}History Podcasts{{/link-to}}
      </div>
      <div class="link-box__links">
        {{#link-to 'podcast.science'}}Science Podcasts{{/link-to}}
      </div>
      <div class="link-box__links">
        {{#link-to 'podcast.philosophy'}}Philosophy(ish) Podcasts{{/link-to}}
      </div>
    </div>
    <div class="link-content">
      {{outlet}}
    </div>
  </div>
</div>
