<div class="scroll">

  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Game Theory</h1>
        <p class="card-content__description">Game theory is "the study of mathematical models of conflict and cooperation between intelligent rational decision-makers." Game theory is mainly used in economics, political science, and psychology, as well as logic, computer science and biology.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Game_theory">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/game-theory">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://levine.sscnet.ucla.edu/general/whatis.htm">What is Game Theory?</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b01h75xp">Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/game.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Fabian Strategy</h1>
        <p class="card-content__description">The Fabian strategy is a military strategy where pitched battles and frontal assaults are avoided in favor of wearing down an opponent through a war of attrition and indirection. While avoiding decisive battles, the side employing this strategy harasses its enemy through skirmishes to cause attrition, disrupt supply and affect morale.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Fabian_strategy">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Quintus-Fabius-Maximus-Verrucosus">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://militaryhistory.about.com/od/militarystrategies/p/fabian.htm">militaryhistory.com</a></h5>
        <h5 class="card-content__site"><a href="http://thehistoryofrome.typepad.com/the_history_of_rome/2008/11/23a--the-second.html">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-punic-nightmares-series/">$ Podcast Series</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/fabius.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Monty Hall problem</h1>
        <p class="card-content__description">The Monty Hall problem is a brain teaser, in the form of a probability puzzle, loosely based on the American television game show Let's Make a Deal and named after its original host, Monty Hall. </p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Monty_Hall_problem">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://betterexplained.com/articles/understanding-the-monty-hall-problem/">betterexplained.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/monty-hall.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Sabermetrics</h1>
        <p class="card-content__description">Sabermetrics is the empirical analysis of baseball, especially baseball statistics that measure in-game activity. Sabermetricians collect and summarize the relevant data from this in-game activity to answer specific questions.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Sabermetrics">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://sabr.org/sabermetrics">sabr.org</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/baseball.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Pincer Maneuver</h1>
        <p class="card-content__description">The pincer movement, or double envelopment, is a military maneuver in which forces simultaneously attack both flanks (sides) of an enemy formation. The name comes from visualizing the action as the split attacking forces "pinching" the enemy.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Pincer_movement">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.reddit.com/r/AskHistorians/comments/2h5ugp/why_did_the_romans_fall_for_hannibals/">reddit.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/pincer.jpeg" alt="" />
      </div>
    </div>
  </div>

</div>
