<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/game.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Game Theory</h3>
      {{!-- <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5> --}}
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Game_theory">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/topic/game-theory">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="http://levine.sscnet.ucla.edu/general/whatis.htm">What is Game Theory?</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/fabius.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Fabian Strategy</h3>
      {{!-- <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5> --}}
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Fabian_strategy">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Quintus-Fabius-Maximus-Verrucosus">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="http://militaryhistory.about.com/od/militarystrategies/p/fabian.htm">militaryhistory.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/monty-hall.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Monty Hall problem</h3>
      {{!-- <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5> --}}
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Monty_Hall_problem">Wikipedia</a></h5>
      {{!-- <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Francisco-de-Miranda">ENCYCLOPÆDIA BRITANNICA</a></h5> --}}
      <h5 class="card-content__site"><a href="https://betterexplained.com/articles/understanding-the-monty-hall-problem/">betterexplained.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>
<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/baseball.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Sabermetrics</h3>
      {{!-- <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5> --}}
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Sabermetrics">Wikipedia</a></h5>
      {{!-- <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Francisco-de-Miranda">ENCYCLOPÆDIA BRITANNICA</a></h5> --}}
      <h5 class="card-content__site"><a href="http://sabr.org/sabermetrics">sabr.org</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>
<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/miranda.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Francisco de Miranda</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Francisco_de_Miranda">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Francisco-de-Miranda">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>
<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/miranda.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Francisco de Miranda</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Francisco_de_Miranda">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Francisco-de-Miranda">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>
<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/miranda.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Francisco de Miranda</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Francisco_de_Miranda">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Francisco-de-Miranda">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>
<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/miranda.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Francisco de Miranda</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Francisco_de_Miranda">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Francisco-de-Miranda">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>
<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/miranda.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Francisco de Miranda</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Francisco_de_Miranda">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Francisco-de-Miranda">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>
<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/miranda.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Francisco de Miranda</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Francisco_de_Miranda">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Francisco-de-Miranda">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>
