<div class="scroll">
  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Game Theory</h1>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Game_theory">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/game-theory">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://levine.sscnet.ucla.edu/general/whatis.htm">What is Game Theory?</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b01h75xp">Podcast Episode</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/game.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Fabian Strategy</h1>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Fabian_strategy">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Quintus-Fabius-Maximus-Verrucosus">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://militaryhistory.about.com/od/militarystrategies/p/fabian.htm">militaryhistory.com</a></h5>
        <h5 class="card-content__site"><a href="http://thehistoryofrome.typepad.com/the_history_of_rome/2008/11/23a--the-second.html">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-punic-nightmares-series/">$ Podcast Series</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/fabius.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Monty Hall problem</h1>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Monty_Hall_problem">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://betterexplained.com/articles/understanding-the-monty-hall-problem/">betterexplained.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/monty-hall.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Sabermetrics</h1>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Sabermetrics">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://sabr.org/sabermetrics">sabr.org</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/baseball.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Pincer Maneuver</h1>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Pincer_movement">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.reddit.com/r/AskHistorians/comments/2h5ugp/why_did_the_romans_fall_for_hannibals/">reddit.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/pincer.jpeg" alt="" />
      </div>
    </div>
  </div>
</div>
