<div class="scroll">
  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Radiolab</h3>
        <h5 class="card-content__duration">2004-present</h5>
        <h5 class="card-content__site"><a href="http://www.radiolab.org/">radiolab.org</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/radiolab.png" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">This American Life</h3>
        <h5 class="card-content__duration">1995-present</h5>
        <h5 class="card-content__site"><a href="https://www.thisamericanlife.org">thisamericanlife.org</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/american.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">The History of Rome</h3>
        <h5 class="card-content__duration">2007-2012</h5>
        <h5 class="card-content__site"><a href="http://thehistoryofrome.typepad.com">thehistoryofrome.typepad.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/rome.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Hardcore History</h3>
        <h5 class="card-content__duration">2006-present</h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com">www.dancarlin.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">The Nerdist</h3>
        <h5 class="card-content__duration">2010-present</h5>
        <h5 class="card-content__site"><a href="http://nerdist.com/">nerdist.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/nerd.png" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Revisionist History</h3>
        <h5 class="card-content__duration">2016-present</h5>
        <h5 class="card-content__site"><a href="http://revisionisthistory.com/">revisionisthistory.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/revisionist.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">In Our Time</h3>
        <h5 class="card-content__duration">1998-present</h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b006qykl/episodes/downloads">inourtime.co.uk</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/time.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Big Picture Science</h3>
        <h5 class="card-content__duration">2006-present</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/podcast/big-picture-science/id73329638?mt=2">bigpicturescience.org</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/big-picture.png" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Twilight Histories</h3>
        <h5 class="card-content__duration">2011-present</h5>
        <h5 class="card-content__site"><a href="http://www.twilighthistories.com/">www.twilighthistories.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/twilight.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Myths and Legends Podcast</h3>
        <h5 class="card-content__duration">2015-present</h5>
        <h5 class="card-content__site"><a href="https://www.mythpodcast.com/">www.mythpodcast.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/myth.jpeg" alt="" />
      </div>
    </div>
  </div>
</div>
