<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/podcast/radiolab.png" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Radiolab</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/podcast/american.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Title</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/podcast/rome.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Title</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Title</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/podcast/nerd.png" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Title</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/podcast/revisionist.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Title</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/podcast/time.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Title</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/podcast/big-picture.png" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Title</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/podcast/twilight.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Title</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/podcast/myth.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Title</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>
