<div class="container">
  <div class="link-flex">
    <div class="link-box">
      {{!-- <h3 class="link-box__title">Ideas</h3> --}}
      <div class="link-box__links">
        {{#link-to 'ideas.historical'}}Historical{{/link-to}}
      </div>
      <div class="link-box__links">
        {{#link-to 'ideas.political'}}Political{{/link-to}}
      </div>
      <div class="link-box__links">
        {{#link-to 'ideas.science'}}Scientific{{/link-to}}
      </div>
      <div class="link-box__links">
        {{#link-to 'ideas.strategy'}}Strategic{{/link-to}}
      </div>
    </div>
    <div class="link-content">
      {{outlet}}
    </div>
  </div>
</div>
