<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/democracy.png" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Democracy</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Democracy">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/topic/democracy">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/monarchy.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Monarchy</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Monarchy">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/topic/monarchy">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/oligarchy.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Oligarchy</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Oligarchy">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/topic/oligarchy">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/plutocracy.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Plutocracy</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Plutocracy">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">whatever</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/capitalism.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Capitalism</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Capitalism">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/topic/capitalism">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/socialism.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Socialism</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Socialism">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/topic/socialism">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/communism.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Communism</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Communism">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/topic/communism">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/conservatism.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Conservatism</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Conservatism">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/topic/conservatism">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/liberalism.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Liberalism</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Liberalism">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/topic/liberalism">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/idea/libertarian.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Libertarianism</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Libertarianism">Wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/topic/libertarianism-politics">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>
