<div class="scroll">

  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Democracy</h1>
        <p class="card-content__description">Democracy, in modern usage, is a system of government in which the citizens exercise power directly or elect representatives from among themselves to form a governing body, such as a parliament. Democracy is sometimes referred to as "rule of the majority". Democracy was originally conceived in Classical Greece, where political representatives were chosen by a jury from amongst the male citizens: rich and poor.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Democracy">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/democracy">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/p00547jm">Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/democracy.png" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Social Contract</h1>
        <p class="card-content__description">In both moral and political philosophy, the social contract or political contract is a theory or model, originating during the Age of Enlightenment, that typically addresses the questions of the origin of society and the legitimacy of the authority of the state over the individual. Social contract arguments typically posit that individuals have consented, either explicitly or tacitly, to surrender some of their freedoms and submit to the authority of the ruler or magistrate (or to the decision of a majority), in exchange for protection of their remaining rights.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Social_contract">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/social-contract">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.partiallyexaminedlife.com/2009/06/07/episode-3-hobbess-leviathan-the-social-contract/">Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/social-contract.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Oligarchy</h1>
        <p class="card-content__description">Oligarchy is a form of power structure in which power actually rests with a small number of people. These people might be distinguished by nobility, wealth, family ties, education or corporate, religious or military control.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Oligarchy">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/oligarchy">ENCYCLOPÆDIA BRITANNICA</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/oligarchy.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Plutocracy</h1>
        <p class="card-content__description">Plutocracy or plutarchy, is a form of oligarchy and defines a society ruled or controlled by the small minority of the wealthiest citizens.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Plutocracy">Wikipedia</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/plutocracy.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">The Philosopher King</h1>
        <p class="card-content__description">According to Plato, a Philosopher king is a ruler who possesses both a love of knowledge, as well as intelligence, reliability, and a willingness to live a simple life.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Philosopher_king">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/philosopher-king">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.partiallyexaminedlife.com/2011/07/11/episode-40-platos-republic-what-is-justice/">Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/marcus.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Monarchy</h1>
        <p class="card-content__description">A monarchy is a form of government in which a group, usually a family called the dynasty, embodies the country's national identity and one of its members, called the monarch, exercises a role of sovereignty.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Monarchy">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/monarchy">ENCYCLOPÆDIA BRITANNICA</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/monarchy.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Capitalism</h1>
        <p class="card-content__description">Capitalism is an economic system based on private ownership of the means of production and their operation for profit. Characteristics central to capitalism include private property, capital accumulation, wage labor, voluntary exchange, a price system, and competitive markets.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Capitalism">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/capitalism">ENCYCLOPÆDIA BRITANNICA</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/capitalism.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Socialism</h1>
        <p class="card-content__description">Socialism is a range of economic and social systems characterised by social ownership and democratic control of the means of production; as well as the political ideologies, theories, and movements that aim to establish them. Social ownership may refer to forms of public, collective, or cooperative ownership; to citizen ownership of equity; or to any combination of these.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Socialism">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/socialism">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/p003k9jg">Podcast on Marx</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/socialism.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Communism</h1>
        <p class="card-content__description">Communism is the social, political, and economic ideology and movement whose ultimate goal is the establishment of the communist society, which is a socioeconomic order structured upon the common ownership of the means of production and the absence of social classes, money, and the state.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Communism">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/communism">ENCYCLOPÆDIA BRITANNICA</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/communism.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Conservatism</h1>
        <p class="card-content__description">Conservatism as a political and social philosophy promotes retaining traditional social institutions in the context of culture and civilization. Conservatives seek to preserve institutions like the Church, monarchy and the social hierarchy, as they are, emphasizing stability and continuity, while others, called reactionaries, oppose modernism and seek a return to "the way things were".</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Conservatism">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/conservatism">ENCYCLOPÆDIA BRITANNICA</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/conservatism.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Liberalism</h1>
        <p class="card-content__description">Liberalism is a political philosophy or worldview founded on ideas of liberty and equality. Whereas classical liberalism emphasises the role of liberty, social liberalism stresses the importance of equality.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Liberalism">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/liberalism">ENCYCLOPÆDIA BRITANNICA</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/liberalism.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Libertarianism</h1>
        <p class="card-content__description">Libertarianism is a collection of political philosophies that uphold liberty. Libertarians seek to maximize autonomy and freedom of choice, emphasizing the value of political freedom, voluntary association, and the importance of individual judgment. Libertarians generally share a skepticism of authority; however, they diverge on the scope of their opposition to existing political and economic systems.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Libertarianism">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/libertarianism-politics">ENCYCLOPÆDIA BRITANNICA</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/idea/libertarian.jpeg" alt="" />
      </div>
    </div>
  </div>

</div>
