<div class="scroll">


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Podcast Course</h1>
        <h1 class="card-content__title">Astronomy</h1>
        <h5 class="card-content__duration">Total Duration:</h5>
        <p class="card-content__description">Listen to this collection of podcasts as a survey of astronomy concepts.</p>
        {{!-- <h5 class="card-content__site"><a href="">Link to Podcast</a></h5> --}}
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/science.jpg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#1</h1>
        <h1 class="card-content__title">Darkness Buries the Bronze Age</h1>
        <h5 class="card-content__duration">Total Duration: 33:46 minutes</h5>
        <p class="card-content__description">What was the cause of the collapse of the Bronze Age? War? Famine? Natural disaster? Dan talks about the end of the very old world.</p>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-9-darkness-buries-the-bronze-age/">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>

</div>
