<div class="scroll">


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Podcast Course Coming Soon</h1>
        <h1 class="card-content__title">Astronomy</h1>
        <h5 class="card-content__duration">Total Duration:</h5>
        <p class="card-content__description">Listen to this collection of podcasts as a survey of astronomy concepts.</p>
        {{!-- <h5 class="card-content__site"><a href="">Link to Podcast</a></h5> --}}
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/science.jpg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#</h1>
        <h1 class="card-content__title">Episodes 5-6 The Big Bang</h1>
        <h5 class="card-content__duration">Total Duration: 58 minutes</h5>
        <p class="card-content__description">Follow as we trace the Big Bang’s discovery, and one of the most important lines of evidence: the cosmic microwave background radiation which was predicted by theory and then discovered by accident. (Scroll down for streaming player on link.)</p>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/2006/10/the-big-bang-and-cosmic-microwave-background/">Link to Podcast #5</a></h5>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/2006/10/more-evidence-for-the-big-bang/">Link to Podcast #6</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/astronomy.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#</h1>
        <h1 class="card-content__title">The (Multi) Universe(s)</h1>
        <h5 class="card-content__duration">Total Duration: 53 minutes</h5>
        <p class="card-content__description">Robert and Brian Greene discuss what's beyond the horizon of our universe, what you might wear in infinite universes with finite pairs of designer shoes, and why the Universe and swiss cheese have more in common than you think.</p>
        <h5 class="card-content__site"><a href="http://www.radiolab.org/story/91859-the-multi-universes/">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/radiolab.png" alt="" />
      </div>
    </div>
  </div>


    <div class="card">
      <div class="card-content">
        <div class="card-content__text">
          <h1 class="card-content__title">#</h1>
          <h1 class="card-content__title">Multiverses</h1>
          <h5 class="card-content__duration">Total Duration: 29 minutes</h5>
          <p class="card-content__description">What if our universe was just one in an infinite number of parallel universes; a possible outcome from the specific predictions of quantum mechanics. The idea of multiple universes is common in science fiction, but is there any actual science to back this theory up?</p>
          <h5 class="card-content__site"><a href="http://www.astronomycast.com/2009/12/ep-166-multiverses/">Link to Podcast</a></h5>
        </div>
        <div class="card-content__img">
          <img class="card-content__img-pic" src="../images/podcast/astronomy.jpeg" alt="" />
        </div>
      </div>
    </div>

  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#</h1>
        <h1 class="card-content__title">Space</h1>
        <h5 class="card-content__duration">Total Duration: 61 minutes</h5>
        <p class="card-content__description">In the 60’s, space exploration was an American obsession. This hour, we chart the path from romance to increasing cynicism.</p>
        <h5 class="card-content__site"><a href="http://www.radiolab.org/story/91520-space/">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/radiolab.png" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#</h1>
        <h1 class="card-content__title">Episode 23-24</h1>
        <h5 class="card-content__duration">Total Duration: 61 minutes</h5>
        <p class="card-content__description">Aliens? Tell me more please!</p>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/2007/02/episode-23-the-drake-equation/">Link to Podcast #23</a></h5>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/2007/02/episode-24the-fermi-paradox-where-are-all-the-aliens/">Link to Podcast #24</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/astronomy.jpeg" alt="" />
      </div>
    </div>
  </div>


    <div class="card">
      <div class="card-content">
        <div class="card-content__text">
          <h1 class="card-content__title">#</h1>
          <h1 class="card-content__title">Life in Space</h1>
          <h5 class="card-content__duration">Total Duration: 51 minutes</h5>
          <p class="card-content__description">Discovering bacteria on Mars would be big news. But nothing would scratch our alien itch like making contact with intelligent life. Hear why one man is impatient for the discovery, and also about the new tools that may speed up the "eureka" moment.</p>
          <h5 class="card-content__site"><a href="http://radio.seti.org/episodes/Life_in_Space">Link to Podcast</a></h5>
        </div>
        <div class="card-content__img">
          <img class="card-content__img-pic" src="../images/podcast/big-picture.png" alt="" />
        </div>
      </div>
    </div>

  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#</h1>
        <h1 class="card-content__title">Episode 12, 13, 108</h1>
        <h5 class="card-content__duration">Total Duration: 1 hour 28 minutes</h5>
        <p class="card-content__description">These shows are about the lifecycles of stars.</p>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/2006/11/where-do-baby-stars-come-from/">Link to Podcast #12</a></h5>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/2006/12/where-do-stars-go-when-they-die/">Link to Podcast #13</a></h5>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/2008/09/ep-108-the-life-of-the-sun/">Link to Podcast #108</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/astronomy.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#</h1>
        <h1 class="card-content__title">A Stellar Job</h1>
        <h5 class="card-content__duration">Total Duration: 51 minutes</h5>
        <p class="card-content__description">The stars are out tonight. And they do more than just twinkle. These boiling balls of hot plasma can tell us something about other celestial phenomena.</p>
        <h5 class="card-content__site"><a href="http://radio.seti.org/episodes/A_Stellar_Job">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/big-picture.png" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#</h1>
        <h1 class="card-content__title">Revolving Around the Sun</h1>
        <h5 class="card-content__duration">Total Duration: 47 minutes</h5>
        <p class="card-content__description">From solar storms to calendars to climate change, learn about the many ways the Sun is the light of our lives.</p>
        <h5 class="card-content__site"><a href="https://www.startalkradio.net/show/revolving-around-the-sun/?_sft_season=season-2&sf_paged=2">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/startalk.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#</h1>
        <h1 class="card-content__title">Episodes 49-52</h1>
        <h5 class="card-content__duration">Total Duration: 2 hours 4 minutes</h5>
        <p class="card-content__description">The Rocky Planets</p>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/2007/08/episode-49-mercury/">Link to Podcast #49</a></h5>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/2007/08/episode-50-venus/">Link to Podcast #50</a></h5>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/2007/08/episode-51-earth/">Link to Podcast #51</a></h5>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/2007/09/episode-52-mars/">Link to Podcast #52</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/astronomy.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#</h1>
        <h1 class="card-content__title">Episodes 56-57, 59, 61-63</h1>
        <h5 class="card-content__duration">Total Duration: 3 hours 12 minutes</h5>
        <p class="card-content__description">The Gas Giants and some moons</p>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/2007/10/episode-56-jupiter/">Link to Podcast #56</a></h5>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/2007/10/episode-57-jupiters-moons/">Link to Podcast #57</a></h5>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/2007/10/episode-59-saturn/">Link to Podcast #59</a></h5>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/2007/11/episode-61-saturns-moons/">Link to Podcast #61</a></h5>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/2007/11/episode-62-uranus/">Link to Podcast #62</a></h5>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/2007/11/episode-63-neptune/">Link to Podcast #63</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/astronomy.jpeg" alt="" />
      </div>
    </div>
  </div>


  {{!-- <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#</h1>
        <h1 class="card-content__title">podcast</h1>
        <h5 class="card-content__duration">Total Duration:  minutes</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div> --}}


  {{!-- <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#</h1>
        <h1 class="card-content__title">podcast</h1>
        <h5 class="card-content__duration">Total Duration:  minutes</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div> --}}

</div>
