<div class="scroll">


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Podcast Course</h1>
        <h1 class="card-content__title">Astronomy</h1>
        <h5 class="card-content__duration">Total Duration:</h5>
        <p class="card-content__description">Listen to this collection of podcasts as a survey of astronomy concepts.</p>
        {{!-- <h5 class="card-content__site"><a href="">Link to Podcast</a></h5> --}}
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/science.jpg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#</h1>
        <h1 class="card-content__title">podcast</h1>
        <h5 class="card-content__duration">Total Duration:  minutes</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#</h1>
        <h1 class="card-content__title">podcast</h1>
        <h5 class="card-content__duration">Total Duration:  minutes</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#</h1>
        <h1 class="card-content__title">podcast</h1>
        <h5 class="card-content__duration">Total Duration:  minutes</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#</h1>
        <h1 class="card-content__title">podcast</h1>
        <h5 class="card-content__duration">Total Duration:  minutes</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#</h1>
        <h1 class="card-content__title">podcast</h1>
        <h5 class="card-content__duration">Total Duration:  minutes</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>

</div>
