<div class="scroll">
  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Augustus</h1>
        <h5 class="card-content__duration">September 23, 63 BC – August 19, 14 AD</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Augustus">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Augustus-Roman-emperor">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b00ktfmw">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://thehistoryofrome.typepad.com/the_history_of_rome/2009/03/47-octaviusoctavian-the-history-of-rome.html">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-death-throes-of-the-republic-series/">$ Podcast Series</a></h5>
        <p class="card-content__description">Found Rome as a city of brick, left it a city of marble.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/augustus.jpeg" alt="" />
      </div>
    </div>
  </div>


{{!--
  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/agrippa.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h1 class="card-content__title">Marcus Vipsanius Agrippa</h1>
        <h5 class="card-content__duration">64/62 BC – 12 BC</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Marcus_Vipsanius_Agrippa">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
        <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div> --}}



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Hannibal Barca</h1>
        <h5 class="card-content__duration">247 – between 183 and 181 BC</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Hannibal">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b01n6s03">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://thehistoryofrome.typepad.com/the_history_of_rome/2008/11/23a--the-second.html">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-punic-nightmares-series/">$ Podcast Series</a></h5>
        <p class="card-content__description">Hannibal at the gate. His battles are still studied and emulated.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/hannibal.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Arminius (German: Hermann)</h1>
        <h5 class="card-content__duration">18/17 BC – AD 19</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Arminius">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://thehistoryofrome.typepad.com/the_history_of_rome/2009/05/55-teutoburg-nightmares-the-history-of-rome.html">Podcast Episode</a></h5>
        {{!-- <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5> --}}
        <p class="card-content__description">Quite possibly the reason that the Romans never conquered the Germans.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/arminius.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Charlemagne</h1>
        <h5 class="card-content__duration">April 2, 742/747/748 – January 28, 814</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Charlemagne">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.biographyonline.net/politicians/europe/charlemagne.html">Biography Online</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-41-thors-angels/">$ Podcast Episode</a></h5>
        <p class="card-content__description">Not only do we not know the year of his birth, he probably didn't either.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/charlemagne.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Oliver Cromwell</h1>
        <h5 class="card-content__duration">April 25, 1599 – September 3, 1658</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Oliver_Cromwell">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.revolutionspodcast.com/2013/12/013-the-instrument-of-government.html">Podcast Episode</a></h5>
        {{!-- <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5> --}}
        {{!-- <p class="card-content__description">stuff and things stuff and things</p> --}}
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/cromwell.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Adam Smith</h1>
        <h5 class="card-content__duration">16 June 1723 NS (5 June 1723 OS) – 17 July 1790</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Adam_Smith">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b052ln55">Podcast Episode</a></h5>
        {{!-- <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5> --}}
        <p class="card-content__description">So Capitalizm is a pretty big deal.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/smith.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">William the Conqueror</h1>
        <h5 class="card-content__duration">1028 – September 9, 1087</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/William_the_Conqueror">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://historyofenglishpodcast.com/2015/09/18/episode-67-the-year-that-changed-english/">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="https://thehistoryofengland.co.uk/2011/06/11/23-william-the-conqueror-and-the-subjugation-of-england/">Podcast Episode</a></h5>
        <p class="card-content__description">It is really hard to imagine that William the Conqueror looked like this -></p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/willy.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Louis Pasteur</h1>
        <h5 class="card-content__duration">December 27, 1822 – September 28, 1895</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Louis_Pasteur">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Pasteurization">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.nobelprize.org/nobel_prizes/themes/medicine/jacob/">nobelprize.org</a></h5>
        <h5 class="card-content__site"><a href="http://www.wnyc.org/story/louis-pasteurs-risky-move-to-save-a-boy-from-almost-certain-death/?utm_source=/story/312245-rodney-versus-death/&utm_medium=treatment&utm_campaign=morelikethis">NPR Story</a></h5>
        <p class="card-content__description">His work has saved the lives of millions.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/pasteur.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">John M Keynes</h1>
        <h5 class="card-content__duration">June 5, 1883 – April 21, 1946</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/John_Maynard_Keynes">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.npr.org/sections/money/2010/01/podcast_john_maynard_keynes_ha.html">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://www.npr.org/sections/money/2011/10/28/141802704/the-friday-podcast-keynes-vs-hayek">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://www.econlib.org/library/Enc/bios/Keynes.html">econlib.org</a></h5>
        <p class="card-content__description">Probably the most influential economist of the twentieth century.</p>
      </div>
      <div class="card-content__img">
  <img class="card-content__img-pic" src="../images/people/keynes.jpeg" alt="" />
</div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Tom Paine</h1>
        <h5 class="card-content__duration">January 29, 1736 – June 8, 1809</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Thomas_Paine">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b06wg9dw">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://www.ushistory.org/paine/">ushistory.org</a></h5>
        {{!-- <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5> --}}
        <p class="card-content__description">Tom Paine was around for two revolutions.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/paine.jpeg" alt="" />
      </div>
    </div>
  </div>
</div>
