<div class="scroll">

  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Augustus</h1>
        <h5 class="card-content__duration">September 23, 63 BC – August 19, 14 AD</h5>
        <p class="card-content__description">Augustus was the founder of the Roman Principate and considered the first Emperor, controlling the Roman Empire from 27 BC until his death in AD 14</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Augustus">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Augustus-Roman-emperor">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b00ktfmw">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://thehistoryofrome.typepad.com/the_history_of_rome/2009/03/47-octaviusoctavian-the-history-of-rome.html">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-death-throes-of-the-republic-series/">$ Podcast Series</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/augustus.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Hannibal Barca</h1>
        <h5 class="card-content__duration">247 – between 183 and 181 BC</h5>
        <p class="card-content__description"> Hannibal Barca, was a Punic military commander from Carthage, generally considered one of the greatest military commanders in history. His father Hamilcar Barca was the leading Carthaginian commander during the First Punic War.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Hannibal">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b01n6s03">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://thehistoryofrome.typepad.com/the_history_of_rome/2008/11/23a--the-second.html">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-punic-nightmares-series/">$ Podcast Series</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/hannibal.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Arminius (German: Hermann)</h1>
        <h5 class="card-content__duration">18/17 BC – AD 19</h5>
        <p class="card-content__description">Arminius was a chieftain of the Germanic Cherusci tribe and a former officer in the Roman military. Arminius used his knowledge of Roman tactics to lead an allied coalition of Germanic tribes to a decisive victory against three Roman legions in the historic Battle of the Teutoburg Forest.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Arminius">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://thehistoryofrome.typepad.com/the_history_of_rome/2009/05/55-teutoburg-nightmares-the-history-of-rome.html">Podcast Episode</a></h5>
        {{!-- <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5> --}}
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/arminius.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Charlemagne</h1>
        <h5 class="card-content__duration">April 2, 742/747/748 – January 28, 814</h5>
        <p class="card-content__description">He united a large part of Europe during the early Middle Ages and laid the foundations for modern France, Germany and the Low Countries. He took the Frankish throne in 768 and became King of Italy in 774. He became the first Holy Roman Emperor—the first recognised emperor in Western Europe since the fall of the Western Roman Empire.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Charlemagne">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.biographyonline.net/politicians/europe/charlemagne.html">Biography Online</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-41-thors-angels/">$ Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/charlemagne.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Oliver Cromwell</h1>
        <h5 class="card-content__duration">April 25, 1599 – September 3, 1658</h5>
        <p class="card-content__description">Oliver Cromwell was an English military and political leader and later Lord Protector of the Commonwealth of England, Scotland, and Ireland.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Oliver_Cromwell">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.revolutionspodcast.com/2013/12/013-the-instrument-of-government.html">Podcast Episode</a></h5>
        {{!-- <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5> --}}
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/cromwell.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Adam Smith</h1>
        <h5 class="card-content__duration">16 June 1723 NS (5 June 1723 OS) – 17 July 1790</h5>
        <p class="card-content__description">He is best known for two classic works: The Theory of Moral Sentiments, and The Wealth of Nations. The latter, is considered his magnum opus and the first modern work of economics.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Adam_Smith">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b052ln55">Podcast Episode</a></h5>
        {{!-- <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5> --}}
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/smith.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">William the Conqueror</h1>
        <h5 class="card-content__duration">1028 – September 9, 1087</h5>
        <p class="card-content__description">William the Conqueror and sometimes William the Bastard,was the first Norman King of England, reigning from 1066 until his death in 1087.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/William_the_Conqueror">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://historyofenglishpodcast.com/2015/09/18/episode-67-the-year-that-changed-english/">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="https://thehistoryofengland.co.uk/2011/06/11/23-william-the-conqueror-and-the-subjugation-of-england/">Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/willy.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Louis Pasteur</h1>
        <h5 class="card-content__duration">December 27, 1822 – September 28, 1895</h5>
        <p class="card-content__description">A French chemist and microbiologist renowned for his discoveries of the principles of vaccination, microbial fermentation and pasteurization. He is remembered for his discoveries that have saved countless lives ever since.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Louis_Pasteur">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Pasteurization">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.nobelprize.org/nobel_prizes/themes/medicine/jacob/">nobelprize.org</a></h5>
        <h5 class="card-content__site"><a href="http://www.wnyc.org/story/louis-pasteurs-risky-move-to-save-a-boy-from-almost-certain-death/?utm_source=/story/312245-rodney-versus-death/&utm_medium=treatment&utm_campaign=morelikethis">NPR Story</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/pasteur.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">John M Keynes</h1>
        <h5 class="card-content__duration">June 5, 1883 – April 21, 1946</h5>
        <p class="card-content__description">His ideas fundamentally changed the theory and practice of macroeconomics and the economic policies of governments. He is widely considered to be one of the most influential economists of the 20th century and the founder of modern macroeconomics.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/John_Maynard_Keynes">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.npr.org/sections/money/2010/01/podcast_john_maynard_keynes_ha.html">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://www.npr.org/sections/money/2011/10/28/141802704/the-friday-podcast-keynes-vs-hayek">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://www.econlib.org/library/Enc/bios/Keynes.html">econlib.org</a></h5>
      </div>
      <div class="card-content__img">
  <img class="card-content__img-pic" src="../images/people/keynes.jpeg" alt="" />
</div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Tom Paine</h1>
        <h5 class="card-content__duration">January 29, 1736 – June 8, 1809</h5>
        <p class="card-content__description">One of the Founding Fathers of the United States, he authored the two most influential pamphlets at the start of the American Revolution, and he inspired the rebels in 1776 to declare independence from Britain.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Thomas_Paine">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b06wg9dw">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://www.ushistory.org/paine/">ushistory.org</a></h5>
        {{!-- <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5> --}}
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/paine.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Yuri Gagarin</h1>
        <h5 class="card-content__duration">March 9, 1934 – March 27, 1968</h5>
        <p class="card-content__description">One of the Founding Fathers of the United States, he authored the two most influential pamphlets at the start of the American Revolution, and he inspired the rebels in 1776 to declare independence from Britain.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Thomas_Paine">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b06wg9dw">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://www.ushistory.org/paine/">ushistory.org</a></h5>
        {{!-- <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5> --}}
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/paine.jpeg" alt="" />
      </div>
    </div>
  </div>

</div>
