<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/miranda.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Francisco de Miranda</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Francisco_de_Miranda">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Francisco-de-Miranda">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="http://placecera.com/g/140/100" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Charlemagne</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="http://placecera.com/g/140/100" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Augustus</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="http://placecera.com/g/140/100" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Agrippa?</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="http://placecera.com/g/140/100" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Theodore Roosevelt</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="http://placecera.com/g/140/100" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Oliver Cromwell</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="http://placecera.com/g/140/100" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Adam Smith</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="http://placecera.com/g/140/100" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">William the Conqueror</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="http://placecera.com/g/140/100" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">“Tank Man”</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="http://placecera.com/g/140/100" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Rasputin</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="http://placecera.com/g/140/100" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Boudicca</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="http://placecera.com/g/140/100" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Louis Pasteur</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="http://placecera.com/g/140/100" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Che Guevara</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="http://placecera.com/g/140/100" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">George Orwell</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="http://placecera.com/g/140/100" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">John M Keynes</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="http://placecera.com/g/140/100" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Tom Paine</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>
