<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/augustus.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Augustus</h3>
      <h5 class="card-content__duration">September 23, 63 BC – August 19, 14 AD</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Augustus">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Augustus-Roman-emperor">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/agrippa.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Marcus Vipsanius Agrippa</h3>
      <h5 class="card-content__duration">64/62 BC – 12 BC</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Marcus_Vipsanius_Agrippa">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/hannibal.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Hannibal Barca</h3>
      <h5 class="card-content__duration">247 – between 183 and 181 BC</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Hannibal">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/arminius.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Arminius (German: Hermann)</h3>
      <h5 class="card-content__duration">18/17 BC – AD 19</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Arminius">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/charlemagne.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Charlemagne</h3>
      <h5 class="card-content__duration">April 2, 742/747/748 – January 28, 814</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Charlemagne">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="http://www.biographyonline.net/politicians/europe/charlemagne.html">Biography Online</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/cromwell.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Oliver Cromwell</h3>
      <h5 class="card-content__duration">April 25, 1599 – September 3, 1658</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Oliver_Cromwell">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/smith.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Adam Smith</h3>
      <h5 class="card-content__duration">16 June 1723 NS (5 June 1723 OS) – 17 July 1790</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Adam_Smith">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/willy.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">William the Conqueror</h3>
      <h5 class="card-content__duration">1028 – September 9, 1087</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/William_the_Conqueror">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/cromwell.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Louis Pasteur</h3>
      <h5 class="card-content__duration">December 27, 1822 – September 28, 1895</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Louis_Pasteur">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/cromwell.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">John M Keynes</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>


<div class="card">
  <div class="card-content">
    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/cromwell.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Tom Paine</h3>
      <h5 class="card-content__duration">2016-2016</h5>
      <h5 class="card-content__site"><a href="#">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>
  </div>
</div>
