<div class="container">
  <div class="link-flex">
    <div class="link-box">
      {{!-- <h3 class="link-box__title">Books</h3> --}}
      <div class="link-box__links">
        {{#link-to 'books.must-read'}}Must Reads{{/link-to}}
      </div>
      <div class="link-box__links">
        {{#link-to 'books.fiction'}}Fiction{{/link-to}}
      </div>
      <div class="link-box__links">
        {{#link-to 'books.non-fiction'}}Non-Fiction{{/link-to}}
      </div>
    </div>
    <div class="link-content">
      {{outlet}}
    </div>
  </div>
</div>
