<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/miranda.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Francisco de Miranda</h3>
      <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Francisco_de_Miranda">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Francisco-de-Miranda">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/haber.png" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Fritz Haber</h3>
      <h5 class="card-content__duration">December 9, 1868 – January 29, 1934</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Fritz_Haber">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Fritz-Haber">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/tank-man2.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">“Tank Man”</h3>
      <h5 class="card-content__duration">Unknown</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Tank_Man">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.youtube.com/watch?v=YeFzeNAHEhU">View on Youtube</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/rasputin.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Rasputin</h3>
      <h5 class="card-content__duration">January 21, 1869 – December 30,1916</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Grigori_Rasputin">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Grigory-Yefimovich-Rasputin">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/boudica.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Boudicca</h3>
      <h5 class="card-content__duration">Unknown - AD 60 or 61</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Boudica">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Boudicca">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/miranda.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Theodore Roosevelt</h3>
      <h5 class="card-content__duration">October 27, 1858 – January 6, 1919</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Theodore_Roosevelt">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Theodore-Roosevelt">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/che.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">Che Guevara</h3>
      <h5 class="card-content__duration">June 14, 1928 – October 9, 1967</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Che_Guevara">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Che-Guevara">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>

<div class="card">
  <div class="card-content">

    <div class="card-content__img">
      <img class="card-content__img-pic" src="../images/people/orwell.jpeg" alt="" />
    </div>
    <div class="card-content__text">
      <h3 class="card-content__title">George Orwell</h3>
      <h5 class="card-content__duration">June 25, 1903 – January 21, 1950</h5>
      <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/George_Orwell">wikipedia</a></h5>
      <h5 class="card-content__site"><a href="https://www.britannica.com/biography/George-Orwell">ENCYCLOPÆDIA BRITANNICA</a></h5>
      <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
      <p class="card-content__description">stuff and things stuff and things</p>
    </div>

  </div>
</div>
