<div class="scroll">
  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Francisco de Miranda</h1>
        <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Francisco_de_Miranda">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Francisco-de-Miranda">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.revolutionspodcast.com/2016/06/503-the-precursers.html">Podcast Episode</a></h5>
        <p class="card-content__description">He bummed around the world and got to hang out with everyone.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/miranda.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Fritz Haber</h1>
        <h5 class="card-content__duration">December 9, 1868 – January 29, 1934</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Fritz_Haber">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Fritz-Haber">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.radiolab.org/story/180092-the-bad-show/">Podcast Episode</a></h5>
        <p class="card-content__description">Incredible human being who helped develop a process to feed the world. Despicable Human being who helped develop toxic agents to be used in warfare. The gas the nazi's used was his creation. Yeah, he's worth knowing about.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/haber.png" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">“Tank Man”</h1>
        <h5 class="card-content__duration">Unknown</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Tank_Man">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.youtube.com/watch?v=YeFzeNAHEhU">View on Youtube</a></h5>
        <h5 class="card-content__site"><a href="http://www.pbs.org/wgbh/frontline/film/tankman/">Frontline Documentary</a></h5>
        <p class="card-content__description">He stood up to tanks! No one knows who he is or was. Just watch the video.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/tank-man2.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Hedy Lamarr</h1>
        <h5 class="card-content__duration">November 9, 1914 – January 19, 2000</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Hedy_Lamarr">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.women-inventors.com/Hedy-Lammar.asp">women-inventors.com</a></h5>
        <p class="card-content__description">Hollywood bombshell that helped fight nazi's with her brain. Pretty cool stuff.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/lamarr.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Rasputin</h1>
        <h5 class="card-content__duration">January 21, 1869 – December 30,1916</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Grigori_Rasputin">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Grigory-Yefimovich-Rasputin">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://russianrulers.podhoster.com/index.php?sid=2742&m=12&y=2013">Podcast Episode</a></h5>
        <p class="card-content__description">Creepiest guy ever. No really he even creeped out Russians.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/rasputin.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Boudicca</h1>
        <h5 class="card-content__duration">Unknown - AD 60 or 61</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Boudica">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Boudicca">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b00r7lr9">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://thehistoryofrome.typepad.com/the_history_of_rome/2009/08/65-burn-it-to-the-ground-the-history-of-rome.html">Podcast Episode</a></h5>
        <p class="card-content__description">Badass Queen who took on the Roman Empire.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/boudica.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Theodore Roosevelt</h1>
        <h5 class="card-content__duration">October 27, 1858 – January 6, 1919</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Theodore_Roosevelt">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Theodore-Roosevelt">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-49-the-american-peril/">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="https://www.washingtonpost.com/news/on-leadership/wp/2016/06/27/how-theodore-roosevelt-created-the-modern-american-presidency/?utm_term=.4cbb9720f077">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://historyonfirepodcast.com/episodes/2016/10/19/episode-13-the-rough-rider-and-his-demons-part-1">Podcast Episode 1 of 3</a></h5>
        <p class="card-content__description">Every little boy's favorite president. He was once shot before a speech and gave the speech before going to the hospital.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/teddy.jpeg" alt="" />
      </div>
    </div>
  </div>


  {{!-- <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/che.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h1 class="card-content__title">Che Guevara</h1>
        <h5 class="card-content__duration">June 14, 1928 – October 9, 1967</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Che_Guevara">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Che-Guevara">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div> --}}


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">George Orwell</h1>
        <h5 class="card-content__duration">June 25, 1903 – January 21, 1950</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/George_Orwell">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/George-Orwell">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b07wgkz4">Podcast on Animal Farm</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/history/historic_figures/orwell_george.shtml">bbc.co.uk</a></h5>
        {{!-- <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5> --}}
        <p class="card-content__description">He was an English author who went to fight in the Spanish Civil War.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/orwell.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Richard Feynman</h1>
        <h5 class="card-content__duration">May 11, 1918 – February 15, 1988</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Richard_Feynman">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Richard-Feynman">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.feynman.com/">feynman.com</a></h5>
        <h5 class="card-content__site"><a href="https://www.ted.com/talks/richard_feynman">Video</a></h5>
        <h5 class="card-content__site"><a href="http://www.nobelprize.org/nobel_prizes/physics/laureates/1965/feynman-bio.html">nobelprize.org</a></h5>
        <p class="card-content__description">The working man's genius.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/feynman.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Ötzi</h1>
        <h5 class="card-content__duration">June 25, 1903 – January 21, 1950</h5>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/%C3%96tzi">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/Iceman">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.radiolab.org/story/ice-cold-case/">Podcast</a></h5>
        <h5 class="card-content__site"><a href="http://historyonfirepodcast.com/episodes/2015/11/29/episode-3-the-iceman">Podcast</a></h5>
        {{!-- <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5> --}}
        <p class="card-content__description">Ötzi was the oldest person that we know of that was murdered. Scientists have figured out unbelieveable things about Ötzi's last few days.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/otzi.jpeg" alt="" />
      </div>
    </div>
  </div>

</div>
