<div class="scroll">

  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Francisco de Miranda</h1>
        <h5 class="card-content__duration">March 28, 1750 – July 14, 1816</h5>
        <p class="card-content__description">He was a military leader and Venezuelan revolutionary. Although his own plans for the independence of the Spanish American colonies failed, he is regarded as a forerunner of Simón Bolívar, who successfully liberated much of South America.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Francisco_de_Miranda">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Francisco-de-Miranda">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.revolutionspodcast.com/2016/06/503-the-precursers.html">Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/miranda.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Fritz Haber</h1>
        <h5 class="card-content__duration">December 9, 1868 – January 29, 1934</h5>
        <p class="card-content__description">He was a German chemist who known for the Haber–Bosch process, a method used in industry to synthesize ammonia from nitrogen gas and hydrogen gas. Haber is also considered the "father of chemical warfare" for his years of pioneering work developing and weaponizing chlorine and other poisonous gases during World War I</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Fritz_Haber">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Fritz-Haber">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.radiolab.org/story/180092-the-bad-show/">Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/haber.png" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">“Tank Man”</h1>
        <h5 class="card-content__duration">Unknown</h5>
        <p class="card-content__description">Tank Man (also known as the Unknown Protester or Unknown Rebel) is the nickname of an unidentified man who stood in front of a column of tanks on June 5, 1989, the morning after the Chinese military had suppressed the Tiananmen Square protests of 1989 by force.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Tank_Man">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.youtube.com/watch?v=YeFzeNAHEhU">View on Youtube</a></h5>
        <h5 class="card-content__site"><a href="http://www.pbs.org/wgbh/frontline/film/tankman/">Frontline Documentary</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/tank-man2.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Hedy Lamarr</h1>
        <h5 class="card-content__duration">November 9, 1914 – January 19, 2000</h5>
        <p class="card-content__description">Hedy Lamarr was an Austrian and American film actress and inventor. The principles of her work are now incorporated into modern Wi-Fi, CDMA, and Bluetooth technology,</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Hedy_Lamarr">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="http://www.women-inventors.com/Hedy-Lammar.asp">women-inventors.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/lamarr.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Rasputin</h1>
        <h5 class="card-content__duration">January 21, 1869 – December 30,1916</h5>
        <p class="card-content__description">Grigori Yefimovich Rasputin was a Russian peasant, an experienced traveler, a mystical faith healer, and trusted friend of the family of Nicholas II, the last Tsar of the Russian Empire.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Grigori_Rasputin">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Grigory-Yefimovich-Rasputin">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://russianrulers.podhoster.com/index.php?sid=2742&m=12&y=2013">Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/rasputin.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Boudicca</h1>
        <h5 class="card-content__duration">Unknown - AD 60 or 61</h5>
        <p class="card-content__description">Boudica was a queen of the British Celtic Iceni tribe who led an uprising against the occupying forces of the Roman Empire.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Boudica">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Boudicca">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b00r7lr9">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://thehistoryofrome.typepad.com/the_history_of_rome/2009/08/65-burn-it-to-the-ground-the-history-of-rome.html">Podcast Episode</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/boudica.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Theodore Roosevelt</h1>
        <h5 class="card-content__duration">October 27, 1858 – January 6, 1919</h5>
        <p class="card-content__description">Theodore Roosevelt Jr. was an American statesman, author, explorer, soldier, naturalist, and reformer who served as the 26th President of the United States from 1901 to 1909. </p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Theodore_Roosevelt">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Theodore-Roosevelt">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-49-the-american-peril/">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="https://www.washingtonpost.com/news/on-leadership/wp/2016/06/27/how-theodore-roosevelt-created-the-modern-american-presidency/?utm_term=.4cbb9720f077">Podcast Episode</a></h5>
        <h5 class="card-content__site"><a href="http://historyonfirepodcast.com/episodes/2016/10/19/episode-13-the-rough-rider-and-his-demons-part-1">Podcast Episode 1 of 3</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/teddy.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">George Orwell</h1>
        <h5 class="card-content__duration">June 25, 1903 – January 21, 1950</h5>
        <p class="card-content__description">George Orwell was an English novelist, essayist, journalist and critic. His work is marked by lucid prose, awareness of social injustice, opposition to totalitarianism, and outspoken support of democratic socialism</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/George_Orwell">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/George-Orwell">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b07wgkz4">Podcast on Animal Farm</a></h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/history/historic_figures/orwell_george.shtml">bbc.co.uk</a></h5>
        {{!-- <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5> --}}
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/orwell.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Richard Feynman</h1>
        <h5 class="card-content__duration">May 11, 1918 – February 15, 1988</h5>
        <p class="card-content__description">When Feynman was 15, he taught himself trigonometry, advanced algebra, infinite series, analytic geometry, and both differential and integral calculus. He worked on the Manhattan Project. Feynman tried LSD during his professorship at Caltech. He also tried marijuana and ketamine experiences at John Lilly's famed sensory deprivation tanks, as a way of studying consciousness.</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/Richard_Feynman">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/biography/Richard-Feynman">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.feynman.com/">feynman.com</a></h5>
        <h5 class="card-content__site"><a href="https://www.ted.com/talks/richard_feynman">Video</a></h5>
        <h5 class="card-content__site"><a href="http://www.nobelprize.org/nobel_prizes/physics/laureates/1965/feynman-bio.html">nobelprize.org</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/feynman.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Ötzi</h1>
        <h5 class="card-content__duration">3,300 BCE</h5>
        <p class="card-content__description">Ötzi is a nickname given to the well-preserved natural mummy of a man who lived around 3,300 BCE. Recent DNA analyses claim they revealed traces of blood from at least four other people on his gear. Interpretations of these findings were that Ötzi killed two people with the same arrow, and was able to retrieve it on both occasions, and the blood on his coat was from a wounded comrade he may have carried over his back. Before suffering a mortal wound</p>
        <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/%C3%96tzi">Wikipedia</a></h5>
        <h5 class="card-content__site"><a href="https://www.britannica.com/topic/Iceman">ENCYCLOPÆDIA BRITANNICA</a></h5>
        <h5 class="card-content__site"><a href="http://www.radiolab.org/story/ice-cold-case/">Podcast</a></h5>
        <h5 class="card-content__site"><a href="http://historyonfirepodcast.com/episodes/2015/11/29/episode-3-the-iceman">Podcast</a></h5>
        {{!-- <h5 class="card-content__site"><a href="#">www.whatever.com</a></h5> --}}
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/people/otzi.jpeg" alt="" />
      </div>
    </div>
  </div>



    <div class="card">
      <div class="card-content">
        <div class="card-content__text">
          <h1 class="card-content__title">George Orwell</h1>
          <h5 class="card-content__duration">June 25, 1903 – January 21, 1950</h5>
          <p class="card-content__description">George Orwell was an English novelist, essayist, journalist and critic. His work is marked by lucid prose, awareness of social injustice, opposition to totalitarianism, and outspoken support of democratic socialism</p>
          <h5 class="card-content__site"><a href="https://en.wikipedia.org/wiki/George_Orwell">Wikipedia</a></h5>
        </div>
        <div class="card-content__img">
          <img class="card-content__img-pic" src="../images/people/orwell.jpeg" alt="" />
        </div>
      </div>
    </div>

</div>
