<div class="index-scroll">


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#1</h1>
        <h1 class="card-content__title">Darkness Buries the Bronze Age</h1>
        <h5 class="card-content__duration">Total Duration: 33:46 minutes</h5>
        <p class="card-content__description">What was the cause of the collapse of the Bronze Age? War? Famine? Natural disaster? Dan talks about the end of the very old world.</p>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-9-darkness-buries-the-bronze-age/">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#2</h1>
        <h1 class="card-content__title">Judgment at Nineveh</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description">Will our modern society ever decline and fall? Dan uses that idea as a backdrop for a look at the first great empire in history, the biblical-era Assyrians. Were they ancient Nazis, or the guardians of civilization? Also how long does it take to forget the past?</p>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-17-judgment-at-nineveh/">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#3</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#4</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#5</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#6</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#7</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#8</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#9</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#10</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#11</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#12</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#13</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#14</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#15</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#16</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#17</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#18</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#19</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#20</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#21</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#22</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#23</h1>
        <h1 class="card-content__title">Podcast</h1>
        <h5 class="card-content__duration">Total Duration</h5>
        <p class="card-content__description"></p>
        <h5 class="card-content__site"><a href="">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


</div>
