<div class="scroll">

  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Podcast Course</h1>
        <h1 class="card-content__title">Western Civilization</h1>
        <h5 class="card-content__duration">Total Duration: 4 days 18 hours 45 minutes</h5>
        <p class="card-content__description">Listen to this collection of podcasts as a survey of western civilization. It starts with the distruction of the Bronze Age and continues to the atomic age. Many of the Hardcore History episodes are no longer free but still a good deal.</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/civ.jpg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#1</h1>
        <h1 class="card-content__title">Darkness Buries the Bronze Age</h1>
        <h5 class="card-content__duration">Total Duration: 33:46 minutes</h5>
        <p class="card-content__description">What was the cause of the collapse of the Bronze Age? War? Famine? Natural disaster? Dan talks about the end of the very old world.</p>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-9-darkness-buries-the-bronze-age/">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#2</h1>
        <h1 class="card-content__title">Kings of Kings 1-3</h1>
        <h5 class="card-content__duration">Total Duration: 12 hours 48 minutes</h5>
        <p class="card-content__description">The story of the transition to the classical world from the ancient world.</p>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/hardcore-history-56-kings-of-kings/">Link to Podcast #1</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/hardcore-history-57-kings-kings-ii/">Link to Podcast #2</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/hardcore-history-58-kings-kings-iii/">Link to Podcast #3</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#3</h1>
        <h1 class="card-content__title">Punic Nightmares</h1>
        <h5 class="card-content__duration">Total Duration: 3 hours 53 minutes</h5>
        <p class="card-content__description">The Punic Wars were the classical world's version of world wars. These wars are why Rome became Rome.</p>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-punic-nightmares-series/">Link to Podcast Series</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#4</h1>
        <h1 class="card-content__title">Death Throes of the Republic</h1>
        <h5 class="card-content__duration">Total Duration: 12 hours 52 minutes</h5>
        <p class="card-content__description">The story of the end of the Roman Republic. Caesar, Augustus, Brutus and the whole gang.</p>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-death-throes-of-the-republic-series/">Link to Podcast Series</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#5</h1>
        <h1 class="card-content__title">Episodes 79-97</h1>
        <h5 class="card-content__duration">Total Duration: 14 hours 40 minutes</h5>
        <p class="card-content__description">I'm throwing you into a series in the middle, but you can figure it out (if not listen to the whole of The History of Rome). Roman Empire at it's greatest extent. These are the Five Good Emperors and the bad one.</p>
        <h5 class="card-content__site"><a href="">Link to Podcast Episode 79</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/rome.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#6</h1>
        <h1 class="card-content__title">Episodes 121-139</h1>
        <h5 class="card-content__duration">Total Duration: 8 hours 01 minutes</h5>
        <p class="card-content__description">Once again we are jumping around a bit, but you got this. This is the Empire at the end of the Crisis of the Third Century and the beginning of a new phase in the empire. These are the seeds of the middle ages in Europe.</p>
        <h5 class="card-content__site"><a href="">Link to Podcast Episode 121</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/rome.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#7</h1>
        <h1 class="card-content__title">The Roman Empire's Collapse in the 5th century</h1>
        <h5 class="card-content__duration">Total Duration: 28 minutes</h5>
        <p class="card-content__description">A look at the decline (am I even supposed to say that?) of the western Roman Empire and it's relationship with Christianity.</p>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/p00547ds">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/time.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#8</h1>
        <h1 class="card-content__title">12 Byzantine Rulers</h1>
        <h5 class="card-content__duration">Total Duration: 6 hours 42 minutes</h5>
        <p class="card-content__description">This is the series that inspired Mike Duncun to produce The History of Rome Podcast. As the title explains, the series is not a start to finish look at every leader, rather the 12 most important rulers. You can probably start with episode 5 if
          you have finished the THOR episodes.</p>
        <h5 class="card-content__site"><a href="https://12byzantinerulers.com/">Link to Podcast Series</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/byzantine.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#9</h1>
        <h1 class="card-content__title"> Thor’s Angels</h1>
        <h5 class="card-content__duration">Total Duration: 4 hours 06 minutes</h5>
        <p class="card-content__description">The story of the aftermath of the fall of the western Roman Empire and how the church had to fill the vacuum left by it's absence.</p>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-41-thors-angels/">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#10</h1>
        <h1 class="card-content__title">Bubonic Nukes</h1>
        <h5 class="card-content__duration">Total Duration: 47 minutes</h5>
        <p class="card-content__description">How diseases of the middle ages changed the European world.</p>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-13-bubonic-nukes/">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#11</h1>
        <h1 class="card-content__title">The Borgias</h1>
        <h5 class="card-content__duration">Total Duration: 43 minutes</h5>
        <p class="card-content__description">Famed for their treachery and corruption, the Borgias produced two popes during their time of dominance in Rome in the late 15th century. The most well-known of these two popes is Alexander VI. Rodrigo's daughter, Lucrezia, is widely remembered as a ruthless poisoner; his son, Cesare, as a brutal soldier.</p>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b01nzgjz">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/time.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#12</h1>
        <h1 class="card-content__title">Globalization Unto Death</h1>
        <h5 class="card-content__duration">Total Duration: 1 hour 31 minutes</h5>
        <p class="card-content__description">Ferdinand Magellan is the lead character in this episode about the collision between the Old and New worlds and what Dan calls “Globalization 1.0”. It is also full of controversy!</p>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-32-globalization-unto-death/">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#13</h1>
        <h1 class="card-content__title">The American Revolution 2.1 - 2.15</h1>
        <h5 class="card-content__duration">Total Duration: 7 hours 26 minutes</h5>
        <p class="card-content__description">The creator of The History of Rome tackles the American Revolution. This series is just one of many in the overall podcast. They are all worth listening to.</p>
        <h5 class="card-content__site"><a href="http://www.revolutionspodcast.com/2014/02/017-the-new-world.html">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/revolutions.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#14</h1>
        <h1 class="card-content__title">Consequences of the Industrial Revolution</h1>
        <h5 class="card-content__duration">Total Duration: 45 minutes</h5>
        <p class="card-content__description">Lifestyles changed as workers moved from agricultural settlements to factory towns: health, housing and labour relations were all affected. But the effects were both social and intellectual.</p>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b00wr9r7">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/time.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#15</h1>
        <h1 class="card-content__title">The American Peril</h1>
        <h5 class="card-content__duration">Total Duration: 4 hours 5 minutes</h5>
        <p class="card-content__description">Imperial temptations and humanitarian nightmares force the United States of the late 19th Century to confront the contradictions between its revolutionary self-image and its expanding national interests.</p>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-49-the-american-peril/">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#16</h1>
        <h1 class="card-content__title">Blueprint for Armageddon</h1>
        <h5 class="card-content__duration">Total Duration: 23 hours 1 minute</h5>
        <p class="card-content__description">The planet hadn’t seen a major war between all the Great Powers since the downfall of Napoleon at Waterloo in 1815. But 99 years later the dam breaks and a Pandora’s Box of violence engulfs the planet.</p>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-50-blueprint-for-armageddon-i/">Link to Podcast I</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-51-blueprint-for-armageddon-ii/">Link to Podcast II</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-52-blueprint-for-armageddon-iii/">Link to Podcast III</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/hardcore-history-53-blueprint-for-armageddon-iv/">Link to Podcast IV</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/home-hh-54/">Link to Podcast V</a></h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/hh-55/">Link to Podcast VI</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#17</h1>
        <h1 class="card-content__title">Radical Thoughts</h1>
        <h5 class="card-content__duration">Total Duration: 2 hours 37 minutes</h5>
        <p class="card-content__description">Using the two 20th Century “Red Scare” eras as case studies, Dan looks at the fear that can be generated by potentially dangerous ideas and examines the way such powerful mass emotions can cloud human judgment.</p>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-40-blitz-radical-thoughts/">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#18</h1>
        <h1 class="card-content__title">Ghosts of the Ostfront Series</h1>
        <h5 class="card-content__duration">Total Duration: 5 hours 42 minutes</h5>
        <p class="card-content__description">WWII told from view point of the eastern front.</p>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/product/hardcore-history-ghosts-ostfront-series/">Link to Podcast Series</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>


  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">#19</h1>
        <h1 class="card-content__title">The Destroyer of Worlds</h1>
        <h5 class="card-content__duration">Total Duration: 5 hours 49 minutes</h5>
        <p class="card-content__description">What happens if human beings can’t handle the power of their own weaponry? This show examines the dangerous early years of the Nuclear Age and humankind’s efforts to avoid self-destruction at the hands of its own creation.</p>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/hardcore-history-59-the-destroyer-of-worlds/">Link to Podcast</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/hardcore.jpeg" alt="" />
      </div>
    </div>
  </div>

</div>
