<div class="container">
  <div class="link-flex">
    <div class="link-box">
      <h3 class="link-box__title">People</h3>
      <div class="link-box__links">
        {{#link-to 'people.people-you-should-know'}}People You Should Know{{/link-to}}
      </div>
      <div class="link-box__links">
        {{#link-to 'people.interesting'}}Super Interesting People{{/link-to}}
      </div>
      <div class="link-box__links">
        {{#link-to 'podcast.top-ten'}}Science Podcasts{{/link-to}}
      </div>
    </div>
    <div class="link-content">
      {{outlet}}
    </div>
  </div>
</div>
