<div class="scroll">
  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Radiolab</h1>
        <h5 class="card-content__duration">2004-present</h5>
        <p class="card-content__description">Hosted by Jad Abumrad and Robert Krulwich, the show focuses on topics of a scientific and philosophical nature. The show attempts to approach broad, difficult topics such as "time" and "morality" in an accessible and light-hearted manner and with a distinctive audio production style.</p>
        <h5 class="card-content__site"><a href="http://www.radiolab.org/">radiolab.org</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/radiolab.png" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Big Picture Science</h1>
        <h5 class="card-content__duration">2006-present</h5>
        <p class="card-content__description">The show covers a broad range of topics in the sciences as they relate to our understanding of the origin and evolution of life on Earth, and what life elsewhere in the universe might be like. Each week's show has a theme and allows scientists to share their latest findings and speculate on the implications for SETI (the Search for Extra-Terrestrial Intelligence) and society in general.</p>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/podcast/big-picture-science/id73329638?mt=2">bigpicturescience.org</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/big-picture.png" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">In Our Time</h1>
        <h5 class="card-content__duration">1998-present</h5>
        <p class="card-content__description">In Our Time is a live BBC radio discussion series exploring the history of ideas. It is one of BBC Radio 4's most successful discussion programmes, acknowledged to have "transformed the landscape for serious ideas at peak listening time".</p>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b006qykl/episodes/downloads">inourtime.co.uk</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/time.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Startalk</h1>
        <h5 class="card-content__duration">2009-present</h5>
        <p class="card-content__description">StarTalk bridges the intersection between science, pop culture and comedy with clarity, humor and passion. Tyson is joined each week by comedian co-hosts, celebrities, and other special guests.</p>
        <h5 class="card-content__site"><a href="https://www.startalkradio.net/">startalkradio.net</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/startalk.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Astronomy Cast</h1>
        <h5 class="card-content__duration">2006-present</h5>
        <p class="card-content__description">Astronomy Cast takes a fact-based journey through the cosmos as it offers listeners weekly discussions on astronomical topics ranging from planets to cosmology. </p>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/">astronomycast.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/astronomy.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Science for the People</h1>
        <h5 class="card-content__duration">2009-present</h5>
        <p class="card-content__description">Science for the People (formerly Skeptically Speaking) is a weekly podcast and radio show that aims to explore issues pertaining to science, skepticism and rational thinking through interviews.</p>
        <h5 class="card-content__site"><a href="http://www.scienceforthepeople.ca/">scienceforthepeople.ca</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/4thepeople.png" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Evolution 101</h1>
        <h5 class="card-content__duration">2006-2007</h5>
        <p class="card-content__description">Evolution 101 is a podcast that attempts to answer questions and explain evolutionary concepts in layman's terms.</p>
        <h5 class="card-content__site"><a href="https://evolution-101.blogspot.com/">evolution-101.blogspot.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/evolution.jpeg" alt="" />
      </div>
    </div>
  </div>
</div>
