<div class="scroll">
  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/radiolab.png" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">Radiolab</h3>
        <h5 class="card-content__duration">2004-present</h5>
        <h5 class="card-content__site"><a href="http://www.radiolab.org/">radiolab.org</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/big-picture.png" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">Big Picture Science</h3>
        <h5 class="card-content__duration">2006-present</h5>
        <h5 class="card-content__site"><a href="https://itunes.apple.com/us/podcast/big-picture-science/id73329638?mt=2">bigpicturescience.org</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/time.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">In Our Time</h3>
        <h5 class="card-content__duration">1998-present</h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b006qykl/episodes/downloads">inourtime.co.uk</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/startalk.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">Startalk</h3>
        <h5 class="card-content__duration">2009-present</h5>
        <h5 class="card-content__site"><a href="https://www.startalkradio.net/">startalkradio.net</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/astronomy.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">Astronomy Cast</h3>
        <h5 class="card-content__duration">2006-present</h5>
        <h5 class="card-content__site"><a href="http://www.astronomycast.com/">astronomycast.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/4thepeople.png" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">Science for the People</h3>
        <h5 class="card-content__duration">2009-present</h5>
        <h5 class="card-content__site"><a href="http://www.scienceforthepeople.ca/">scienceforthepeople.ca</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/evolution.jpeg" alt="" />
      </div>
      <div class="card-content__text">
        <h3 class="card-content__title">Evolution 101</h3>
        <h5 class="card-content__duration">2006-2007</h5>
        <h5 class="card-content__site"><a href="https://evolution-101.blogspot.com/">evolution-101.blogspot.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>

    </div>
  </div>
  </div>
