<div class="scroll">
  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">This American Life</h3>
        <h5 class="card-content__duration">1995-present</h5>
        <h5 class="card-content__site"><a href="https://www.thisamericanlife.org">thisamericanlife.org</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/american.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">In Our Time</h3>
        <h5 class="card-content__duration">1998-present</h5>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b006qykl/episodes/downloads">inourtime.co.uk</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/time.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Rationally Speaking</h3>
        <h5 class="card-content__duration">2010-present</h5>
        <h5 class="card-content__site"><a href="http://rationallyspeakingpodcast.org/">rationallyspeakingpodcast.org</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/rationally.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">The Partially Examined Life</h3>
        <h5 class="card-content__duration">2009-present</h5>
        <h5 class="card-content__site"><a href="http://www.partiallyexaminedlife.com/">partiallyexaminedlife.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/examined.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Snap Judgement</h3>
        <h5 class="card-content__duration">2009-present</h5>
        <h5 class="card-content__site"><a href="http://snapjudgment.org/">snapjudgment.org</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/snap.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h3 class="card-content__title">Common Sense</h3>
        <h5 class="card-content__duration">2005-present</h5>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/common-sense-home-landing-page/">dancarlin.com</a></h5>
        <p class="card-content__description">stuff and things stuff and things</p>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/sense.jpeg" alt="" />
      </div>
    </div>
  </div>
</div>
