<div class="scroll">
  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">This American Life</h1>
        <h5 class="card-content__duration">1995-present</h5>
        <p class="card-content__description">Primarily a journalistic non-fiction program, it has also featured essays, memoirs, field recordings, short fiction, and found footage.</p>
        <h5 class="card-content__site"><a href="https://www.thisamericanlife.org">thisamericanlife.org</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/american.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">In Our Time</h1>
        <h5 class="card-content__duration">1998-present</h5>
        <p class="card-content__description">In Our Time is a live BBC radio discussion series exploring the history of ideas. It is one of BBC Radio 4's most successful discussion programmes, acknowledged to have "transformed the landscape for serious ideas at peak listening time".</p>
        <h5 class="card-content__site"><a href="http://www.bbc.co.uk/programmes/b006qykl/episodes/downloads">inourtime.co.uk</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/time.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Rationally Speaking</h1>
        <h5 class="card-content__duration">2010-present</h5>
        <p class="card-content__description">Rationally Speaking is the bi-weekly podcast of New York City Skeptics. Host Julia Galef explores the borderlands between reason and nonsense, likely and unlikely, and science and pseudoscience. Any topic is fair game as long as reason can be brought to bear upon it, with a skeptical eye.</p>
        <h5 class="card-content__site"><a href="http://rationallyspeakingpodcast.org/">rationallyspeakingpodcast.org</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/rationally.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">The Partially Examined Life</h1>
        <h5 class="card-content__duration">2009-present</h5>
        <p class="card-content__description">The format is an informal roundtable discussion, with each episode loosely focused on a short reading that introduces at least one "big" philosophical question, concern or idea.</p>
        <h5 class="card-content__site"><a href="http://www.partiallyexaminedlife.com/">partiallyexaminedlife.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/examined.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Snap Judgement</h1>
        <h5 class="card-content__duration">2009-present</h5>
        <p class="card-content__description">A weekly storytelling radio series. Each episode is made up of narrative pieces on a common theme.</p>
        <h5 class="card-content__site"><a href="http://snapjudgment.org/">snapjudgment.org</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/snap.jpeg" alt="" />
      </div>
    </div>
  </div>



  <div class="card">
    <div class="card-content">
      <div class="card-content__text">
        <h1 class="card-content__title">Common Sense</h1>
        <h5 class="card-content__duration">2005-present</h5>
        <p class="card-content__description">The shows highlight his independent political views, his sense of humor, and unique communication style. He has described his political philosophy as "Neoprudentist".</p>
        <h5 class="card-content__site"><a href="http://www.dancarlin.com/common-sense-home-landing-page/">dancarlin.com</a></h5>
      </div>
      <div class="card-content__img">
        <img class="card-content__img-pic" src="../images/podcast/sense.jpeg" alt="" />
      </div>
    </div>
  </div>
</div>
